<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.fusesource.ide.fabric.navigator.FabricNavigator"
            icon="icons/fabric_explorer.png"
            id="org.fusesource.ide.fabric.navigator"
            name="Fabric Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.fusesource.ide.fabric.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.fusesource.ide.fabric.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.fusesource.ide.fabric.navigator.root">
            </contentExtension>
            <contentExtension
                  pattern="org.fusesource.ide.jmx.ui.internal.views.navigator.root">
            </contentExtension>
            <contentExtension
                  pattern="org.fusesource.ide.jmx.ui.internal.views.navigator.queryFilter">
            </contentExtension>
            <contentExtension
                  pattern="org.fusesource.ide.jmx.ui.internal.views.navigator.JMXLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.fusesource.ide.fabric.navigator">
         <includes>
            <actionExtension
                  pattern="org.fusesource.ide.fabric.navigator.actionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.fusesource.ide.jmx.ui.internal.views.navigator.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.fusesource.ide.fabric.camel.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.fabric.camel.navigator.CamelPreferenceInitializer">
      </initializer>
   </extension>
  
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.fusesource.ide.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ContentsTab"
               category="org.fusesource.ide.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProcessorsTab"
               label="Processors"/>
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ProcessorsTab"
               category="org.fusesource.ide.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProfileTab"
               label="Profile"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.fusesource.ide.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertySection
               class="org.fusesource.ide.fabric.camel.navigator.RoutesProcessorsTabSection"
               id="RoutesProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
            <input
                  type="org.fusesource.ide.fabric.camel.navigator.RoutesNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric.camel.navigator.ProcessorTabSection"
               filter="org.fusesource.ide.fabric.camel.navigator.ProcessorTabSectionFilter"
               id="ProcessorProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric.camel.navigator.ProcessorCallsTabSection"
               filter="org.fusesource.ide.fabric.camel.navigator.ProcessorCallsTabSectionFilter"
               id="ProfileSection"
               tab="org.fusesource.ide.jmx.ui.views.ProfileTab">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
