<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.jmx.camel.navigator.CamelPreferenceInitializer">
      </initializer>
   </extension>

   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="org.fusesource.ide.camel.jmx.content"
             name="Camel Contexts"
             activeByDefault="true"
             icon="icons/camel.png"
             priority="normal"
             contentProvider="org.fusesource.ide.jmx.camel.jmx.content.navigator.providers.CamelNodeContentProvider"
             labelProvider="org.fusesource.ide.jmx.camel.jmx.content.navigator.providers.CamelNodeLabelProvider">
          <triggerPoints>
             <instanceof
                   value="org.jboss.tools.jmx.core.IConnectionWrapper">
             </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
              </or>
          </possibleChildren>
          <actionProvider
                class="org.fusesource.ide.jmx.camel.CamelNodesActionProvider"
                id="org.fusesource.ide.jmx.ui.internal.views.navigator.actionProvider">
	         <enablement>
	            <or>
	               <adapt
	                     type="java.util.Collection">
	                  <count
	                        value="0">
	                  </count>
	               </adapt>
	               <instanceof
	                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
	               </instanceof>
	               <instanceof
	                     value="org.jboss.tools.jmx.core.tree.Node">
	               </instanceof>
	            </or>
	         </enablement>
	      </actionProvider>
          <dropAssistant
                class="org.fusesource.ide.jmx.camel.CamelMessageDropAssistant"
                id="org.fusesource.ide.fabric.camel.messages.drop">
             <possibleDropTargets></possibleDropTargets>
          </dropAssistant>
       </navigatorContent>
	</extension>


	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.camel.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerContentBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.camel.jmx.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
	</extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ContentsTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProcessorsTab"
               label="Processors"/>
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ProcessorsTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProfileTab"
               label="Profile"/>
         <propertyTab
               afterTab="org.jboss.tools.jmx.ui.views.PropertiesTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ContentsTab"
               label="Contents"/>
         <propertyTab
               category="org.jboss.tools.jmx.ui.views"
               id="org.jboss.tools.jmx.ui.views.PropertiesTab"
               label="Properties"/>
      </propertyTabs>
  </extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.wst.server.ui.ServersView">
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ContentsTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProcessorsTab.server"
               label="Processors"/>
         <propertyTab
               afterTab="org.fusesource.ide.jmx.ui.views.ProcessorsTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ProfileTab.server"
               label="Profile"/>
         <propertyTab
               afterTab="org.jboss.tools.jmx.ui.views.PropertiesTab"
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.ContentsTab.server"
               label="Contents"/>
         <propertyTab
               category="org.jboss.tools.jmx.ui.views"
               id="org.jboss.tools.jmx.ui.views.PropertiesTab.server"
               label="Properties"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertySection
               class="org.fusesource.ide.jmx.commons.properties.ContentsTabSection"
               filter="org.fusesource.ide.jmx.commons.properties.ContentsSectionFilter"
               id="ContentsSection"
               tab="org.fusesource.ide.jmx.ui.views.ContentsTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.RoutesProcessorsTabSection"
               id="RoutesProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
            <input
                  type="org.fusesource.ide.jmx.camel.navigator.RoutesNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.ProcessorTabSection"
               filter="org.fusesource.ide.jmx.camel.navigator.ProcessorTabSectionFilter"
               id="ProcessorProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.ProcessorCallsTabSection"
               filter="org.fusesource.ide.jmx.camel.navigator.ProcessorCallsTabSectionFilter"
               id="ProfileSection"
               tab="org.fusesource.ide.jmx.ui.views.ProfileTab">
         </propertySection>
      </propertySections>
  </extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.wst.server.ui.ServersView">
         <propertySection
               class="org.fusesource.ide.commons.jmx.ContentsTabSection"
               filter="org.fusesource.ide.commons.jmx.ContentsSectionFilter"
               id="ContentsSection"
               tab="org.fusesource.ide.jmx.ui.views.ContentsTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.RoutesProcessorsTabSection"
               id="RoutesProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
            <input
                  type="org.fusesource.ide.jmx.camel.navigator.RoutesNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.ProcessorTabSection"
               filter="org.fusesource.ide.jmx.camel.navigator.ProcessorTabSectionFilter"
               id="ProcessorProcessorsSection"
               tab="org.fusesource.ide.jmx.ui.views.ProcessorsTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jmx.camel.navigator.ProcessorCallsTabSection"
               filter="org.fusesource.ide.jmx.camel.navigator.ProcessorCallsTabSectionFilter"
               id="ProfileSection"
               tab="org.fusesource.ide.jmx.ui.views.ProfileTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.jboss.tools.jmx.local.jvmConnectionLabelProvider">
      <labelProvider
            class="org.fusesource.ide.jmx.camel.local.CamelContextLabelProvider"
            weight="5">
      </labelProvider>
    </extension>
</plugin>

