<?xml version="1.0"?>
<settings>
	<servers>
    <server>
      <id>fusesource-proxy</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>fusesource-nexus-staging</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>fusesource-nexus-snapshots</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>

    <server>
      <id>fusesource.subscriber-snapshot</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>fusesource-nexus-staging</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>fusesource-nexus-snapshots</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>release.fusesource.org</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>snapshot.fusesource.org</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>website.fusesource.org</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>open.iona.m2-internal</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
    <server>
      <id>open.iona.m2-internal-snapshot</id>
      <username>USERNAME</username>
      <password>PASSWORD</password>
    </server>
		<server>
			<id>fusesource.m2-internal</id>
			<username>USERNAME</username>
			<password>PASSWORD</password>
		</server>

		<server>
			<id>apache</id>
			<username>USERNAME</username>
			<directoryPermissions>775</directoryPermissions>
			<filePermissions>664</filePermissions>
		</server>
		<server>
			<id>apache.repo</id>
			<username>USERNAME</username>
			<directoryPermissions>775</directoryPermissions>
			<filePermissions>664</filePermissions>
		</server>
		<server>
			<id>apache.snapshots</id>
			<username>USERNAME</username>
			<directoryPermissions>775</directoryPermissions>
			<filePermissions>664</filePermissions>
		</server>
		<server>
			<id>apache.website</id>
			<username>USERNAME</username>
			<directoryPermissions>775</directoryPermissions>
			<filePermissions>664</filePermissions>
		</server>
	</servers>

  <mirrors>
    <mirror>
      <id>fusesource-proxy</id>
      <mirrorOf>*</mirrorOf>
      <url>http://repo.fusesource.com/nexus/content/groups/m2-proxy</url>
    </mirror>
  </mirrors>

</settings>
