<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.fabric8.core.runtime.Fabric8RuntimeDelegate"
          description="%runtimeTypeFabric8Description_11"
          id="org.fusesource.ide.fabric8.runtime.11"
          name="%runtimeTypeFabric8Label_11"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="1.1">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.fabric8.core.server.Fabric8ServerDelegate"
           description="%fabric8ServerDescription_11"
           hasConfiguration="true"
           id="org.fusesource.ide.fabric8.server.11"
           initialState="stopped"
           launchConfigId="org.fusesource.ide.server.fabric81x.launch"
           launchModes="run,debug"
           name="%fabric8ServerType_11"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.fabric8.runtime.11"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="true">
     </serverType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.fabric8.runtime.locator"
       typeIds="org.fusesource.ide.fabric8.runtime.*"
       class="org.fusesource.ide.server.fabric8.core.runtime.Fabric8RuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.fabric8.server.locator"
       supportsRemoteHosts="true"
       typeIds="org.fusesource.ide.fabric8.server.*"
       class="org.fusesource.ide.server.fabric8.core.server.Fabric8ServerLocator"/>
  </extension>

    <!-- new stuff -->
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
           id="org.fusesource.ide.server.fabric81x.launch"
           modes="run,debug"
           name="%fabric8.launch.name"
           public="true">
     </launchConfigurationType>
  </extension>
  
  <extension
        point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
     <serverBeanTypeProvider
           class="org.fusesource.ide.server.fabric8.core.bean.Fabric8BeanProvider"
           weight="5">
     </serverBeanTypeProvider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
     <provider
           class="org.fusesource.ide.server.fabric8.core.runtime.integration.Fabric8DownloadRuntimesProvider">
     </provider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.runtimeDetectors">
     <runtimeDetector
           class="org.fusesource.ide.server.fabric8.core.runtime.integration.Fabric8RuntimeDetector"
           enabled="true"
           id="org.fusesource.ide.server.fabric8.core.runtime.integration.Fabric8RuntimeDetection"
           name="Fabric8">
     </runtimeDetector>
  </extension>
  
  <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">

         <subsystemMapping
            id="launch.karaf.local.default"
            mappedId="launch.fabric8.local"
            serverTypes="org.fusesource.ide.fabric8.server.11">
         </subsystemMapping>
         
         <subsystemMapping
            id="shutdown.karaf.local.default"
            mappedId="shutdown.fabric8.local"
            serverTypes="org.fusesource.ide.fabric8.server.11">
         </subsystemMapping>

         <subsystem
            system="publish"
            id="publish.fabric8.local.default"
            name="Local Fabric8 Publish Controller"
            class="org.fusesource.ide.server.fabric8.core.server.subsystems.Fabric81xPublishController">
         </subsystem>
         <subsystemMapping
            id="publish.fabric8.local.default"
            mappedId="publish.fabric8.local"
            serverTypes="org.fusesource.ide.fabric8.server.11">
         </subsystemMapping>

         <subsystemMapping
            id="modules.karaf.local.default"
            mappedId="modules.fabric8.local"
            serverTypes="org.fusesource.ide.fabric8.server.11">
         </subsystemMapping>
                  
         <subsystemMapping
            id="port.karaf.local.default"
            mappedId="port.fabric8.local"
            serverTypes="org.fusesource.ide.fabric8.server.11">
         </subsystemMapping>
  </extension>
  
</plugin>
