<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_22"
          id="org.fusesource.ide.karaf.runtime.22"
          name="%runtimeTypeKarafLabel_22"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.2">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_23"
          id="org.fusesource.ide.karaf.runtime.23"
          name="%runtimeTypeKarafLabel_23"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.3">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_24"
          id="org.fusesource.ide.karaf.runtime.24"
          name="%runtimeTypeKarafLabel_24"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.4">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_30"
          id="org.fusesource.ide.karaf.runtime.30"
          name="%runtimeTypeKarafLabel_30"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="3.0">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
        name="sourceLocator"
	id="org.fusesource.ide.server.karaf.core.server.sourceLocator"
        class="org.fusesource.ide.server.karaf.core.server.SourceLocator">
    </sourceLocator>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
	id="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate"
        class="org.fusesource.ide.server.karaf.core.server.SourcePathComputerDelegate">
    </sourcePathComputer>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_22"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.22"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_22"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.22"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_23"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.23"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_23"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.23"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_24"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.24"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_24"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.24"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.Karaf3xServerDelegate"
           description="%karafServerDescription_30"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.30"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_30"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.30"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
  </extension>
  
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
           id="org.fusesource.ide.server.karaf2x.launch"
           modes="run,debug"
           name="%karaf.launch.name"
           public="false"
	   sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
	   sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
     </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.karaf.runtime.locator"
       typeIds="org.fusesource.ide.karaf.runtime.*"
       class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.karaf.server.locator"
       supportsRemoteHosts="false"
       typeIds="org.fusesource.ide.karaf.server.*"
       class="org.fusesource.ide.server.karaf.core.server.KarafServerLocator"/>
  </extension>

  <extension
        point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
     <serverBeanTypeProvider
           class="org.fusesource.ide.server.karaf.core.bean.KarafBeanProvider"
           weight="5">
     </serverBeanTypeProvider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
     <provider
           class="org.fusesource.ide.server.karaf.core.runtime.integration.KarafDownloadRuntimesProvider">
     </provider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.runtimeDetectors">
     <runtimeDetector
           class="org.fusesource.ide.server.karaf.core.runtime.integration.KarafRuntimeDetector"
           enabled="true"
           id="org.fusesource.ide.server.karaf.core.runtime.integration.KarafRuntimeDetection"
           name="Apache Karaf">
     </runtimeDetector>
  </extension>
  
  <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
         <subsystem
            system="launch"
            id="launch.karaf.local.default"
            name="Local Karaf Launch Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xLaunchController">
         </subsystem>
         <subsystemMapping
            id="launch.karaf.local.default"
            mappedId="launch.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30">
         </subsystemMapping>
         
         <subsystem
            system="shutdown"
            id="shutdown.karaf.local.default"
            name="Local Karaf Shutdown Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xShutdownController">
         </subsystem>
         <subsystemMapping
            id="shutdown.karaf.local.default"
            mappedId="shutdown.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30">
         </subsystemMapping>
         
         <subsystem
            system="publish"
            id="publish.karaf.local.default"
            name="Local Karaf Publish Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xPublishController">
         </subsystem>
         <subsystemMapping
            id="publish.karaf.local.default"
            mappedId="publish.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30">
         </subsystemMapping>
         
         <subsystem
            system="modules"
            id="modules.karaf.local.default"
            name="Local Karaf Module State Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.OSGiBundleStateController">
         </subsystem>
         <subsystemMapping
            id="modules.karaf.local.default"
            mappedId="modules.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30">
         </subsystemMapping>
         
         <subsystem
            system="port"
            id="port.karaf.local.default"
            name="Local Karaf Port Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xPortController">
         </subsystem>
         <subsystemMapping
            id="port.karaf.local.default"
            mappedId="port.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30">
         </subsystemMapping>
  </extension>
</plugin>
