<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_22"
          id="org.fusesource.ide.karaf.runtime.22"
          name="%runtimeTypeKarafLabel_22"
          vendor="%apache"
          vendorId="%apache"
          version="2.2">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_23"
          id="org.fusesource.ide.karaf.runtime.23"
          name="%runtimeTypeKarafLabel_23"
          vendor="%apache"
          vendorId="%apache"
          version="2.3">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_24"
          id="org.fusesource.ide.karaf.runtime.24"
          name="%runtimeTypeKarafLabel_24"
          vendor="%apache"
          vendorId="%apache"
          version="2.4">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_30"
          id="org.fusesource.ide.karaf.runtime.30"
          name="%runtimeTypeKarafLabel_30"
          vendor="%apache"
          vendorId="%apache"
          version="3.0">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_40"
          id="org.fusesource.ide.karaf.runtime.40"
          name="%runtimeTypeKarafLabel_40"
          vendor="%apache"
          vendorId="%apache"
          version="4.0">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_41"
          id="org.fusesource.ide.karaf.runtime.41"
          name="%runtimeTypeKarafLabel_41"
          vendor="%apache"
          vendorId="%apache"
          version="4.1">
       <moduleType types="fuse.camel" versions="1.0"></moduleType>
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
        name="%sourceLocator.name"
	id="org.fusesource.ide.server.karaf.core.server.sourceLocator"
        class="org.fusesource.ide.server.karaf.core.server.SourceLocator">
    </sourceLocator>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
	id="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate"
        class="org.fusesource.ide.server.karaf.core.server.SourcePathComputerDelegate">
    </sourcePathComputer>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_22"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.22"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_22"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.22"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_23"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.23"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_23"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.23"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_24"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.24"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_24"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.24"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.Karaf3xServerDelegate"
           description="%karafServerDescription_30"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.30"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_30"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.30"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.Karaf4xServerDelegate"
           description="%karafServerDescription_40"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.40"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_40"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.40"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.karaf.core.server.Karaf4xServerDelegate"
           description="%karafServerDescription_41"
           hasConfiguration="false"
           id="org.fusesource.ide.karaf.server.41"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf2x.launch"
           name="%karafServerType_41"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.41"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="false">
     </serverType>
  </extension>
  
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           category="Apache"
           delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
           id="org.fusesource.ide.server.karaf2x.launch"
           modes="run,debug"
           name="%karaf.launch.name"
           public="true"
	   sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
	   sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
     </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.karaf.runtime.locator"
       typeIds="org.fusesource.ide.karaf.runtime.*"
       class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.karaf.server.locator"
       supportsRemoteHosts="false"
       typeIds="org.fusesource.ide.karaf.server.*"
       class="org.fusesource.ide.server.karaf.core.server.KarafServerLocator"/>
  </extension>

  <extension
        point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
     <serverBeanTypeProvider
           class="org.fusesource.ide.server.karaf.core.bean.KarafBeanProvider"
           weight="5">
     </serverBeanTypeProvider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
     <provider
           class="org.fusesource.ide.server.karaf.core.runtime.integration.KarafDownloadRuntimesProvider">
     </provider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.runtimeDetectors">
     <runtimeDetector
           class="org.fusesource.ide.server.karaf.core.runtime.integration.KarafRuntimeDetector"
           enabled="true"
           id="org.fusesource.ide.server.karaf.core.runtime.integration.KarafRuntimeDetection"
           name="%runtimeDetector.name">
     </runtimeDetector>
  </extension>
  
  <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
         <subsystem
            system="launch"
            id="launch.karaf.local.default"
            name="Local Karaf Launch Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xLaunchController">
         </subsystem>
         <subsystemMapping
            id="launch.karaf.local.default"
            mappedId="launch.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
         </subsystemMapping>
         
         <subsystem
            system="shutdown"
            id="shutdown.karaf.local.default"
            name="Local Karaf Shutdown Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xShutdownController">
         </subsystem>
         <subsystemMapping
            id="shutdown.karaf.local.default"
            mappedId="shutdown.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
         </subsystemMapping>
         
         <subsystem
            system="publish"
            id="publish.karaf.local.default"
            name="Local Karaf Publish Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xPublishController">
         </subsystem>
         <subsystemMapping
            id="publish.karaf.local.default"
            mappedId="publish.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
         </subsystemMapping>
         
         <subsystem
            system="modules"
            id="modules.karaf.local.default"
            name="Local Karaf Module State Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.OSGiBundleStateController">
         </subsystem>
         <subsystemMapping
            id="modules.karaf.local.default"
            mappedId="modules.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
         </subsystemMapping>
         
         <subsystem
            system="port"
            id="port.karaf.local.default"
            name="Local Karaf Port Controller"
            class="org.fusesource.ide.server.karaf.core.server.subsystems.Karaf2xPortController">
         </subsystem>
         <subsystemMapping
            id="port.karaf.local.default"
            mappedId="port.karaf.local"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
         </subsystemMapping>
  
  
        <!-- Publisher Controllers for specific module types. This one will not be mapped, and will be global  -->
      <subsystem
            system="publishDelegate"
            id="publishDelegate.fuse.default"
            name="Fuse Project Publish Controller"
            class="org.fusesource.ide.server.karaf.core.publish.jmx.MavenPublishController">
            <properties>
               <property key="moduleType:fuse.camel" value="true"/>
            </properties>
      </subsystem>
      <subsystemMapping
            id="publishDelegate.fuse.default"
            mappedId="publishDelegate.fuse.default"
            serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
      </subsystemMapping>
      
      <!-- osgi assembler mapping -->
      <subsystemMapping
            id="publishDelegate.osgi.default"
            mappedId="publishDelegate.osgi.default"
			serverTypes="org.fusesource.ide.karaf.server.22,org.fusesource.ide.karaf.server.23,org.fusesource.ide.karaf.server.24,org.fusesource.ide.karaf.server.30,org.fusesource.ide.karaf.server.40,org.fusesource.ide.karaf.server.41">
      </subsystemMapping>
  </extension>
  
  
  
  
  <!-- Runtime facets -->
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.22"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="2.2"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.23"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="2.3"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.24"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="2.4"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.30"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="3.0"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.40"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="4.0"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.karaf.runtime.41"
            runtime-component="org.fusesource.ide.karaf.runtime.component"
            version="4.1"/>
  </extension>
  <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      		<runtime-component-type id="org.fusesource.ide.karaf.runtime.component"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="2.2"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="2.3"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="2.4"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="3.0"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="4.0"/>
      		<runtime-component-version type="org.fusesource.ide.karaf.runtime.component" version="4.1"/>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="2.2"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.3,1.4,5.0,6.0,1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="2.3"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.3,1.4,5.0,6.0,1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="2.4"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.3,1.4,5.0,6.0,1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="3.0"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.3,1.4,5.0,6.0,1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
     		<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="4.0"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
     		<supported>
        		<runtime-component
         			id="org.fusesource.ide.karaf.runtime.component"
         			version="4.1"/>
                <facet id="wst.web"  version="1.0,1.2,1.3,1.4"/>
       			<facet id="jst.web"  version="2.2,2.3,2.4,2.5,3.0"/>
       			<facet id="jst.java" version="1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="3.0"/>
     		</supported>
   </extension>  
   
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="2.2"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
    <adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="2.3"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
    <adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="2.4"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
    <adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="3.0"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	<adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="4.0"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	<adapter>
      <runtime-component id="org.fusesource.ide.karaf.runtime.component" version="4.1"/>
      <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
   </extension>
   
   
  <!-- 		NEW_SERVER_ADAPTER add id for new runtime in the runtimeIds field below -->
  <!--      THIS IS COMMENTED OUT FOR NOW TO AVOID AN ISSUE WITH DEPLOYMENT ON SY PROJECTS -->
<!--   <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
     <runtimeClasspathProvider
        id="org.fusesource.ide.server.karaf.core.runtime.classpath.runtimeTarget"
        runtimeTypeIds="org.fusesource.ide.karaf.runtime.22,org.fusesource.ide.karaf.runtime.23,org.fusesource.ide.karaf.runtime.24,org.fusesource.ide.karaf.runtime.30,org.fusesource.ide.karaf.runtime.40,org.fusesource.ide.karaf.runtime.41"
        class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafProjectRuntimeClasspathProvider"/>
   </extension> -->
   
</plugin>
