<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.fuse.core.runtime.FuseESBRuntimeDelegate"
          description="%runtimeTypeFuseESBDescription_60"
          id="org.fusesource.ide.fuseesb.runtime.60"
          name="%runtimeTypeFuseESBLabel_60"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="6.0">
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jst.web" versions="1.0"></moduleType>       
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.fuse.core.runtime.FuseESBRuntimeDelegate"
          description="%runtimeTypeFuseESBDescription_61"
          id="org.fusesource.ide.fuseesb.runtime.61"
          name="%runtimeTypeFuseESBLabel_61"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="6.1">
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jst.web" versions="1.0"></moduleType>       
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.fuse.core.runtime.FuseESBRuntimeDelegate"
          description="%runtimeTypeFuseESBDescription_62"
          id="org.fusesource.ide.fuseesb.runtime.62"
          name="%runtimeTypeFuseESBLabel_62"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="6.2">
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jst.web" versions="1.0"></moduleType>       
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.fuse.core.runtime.FuseESBRuntimeDelegate"
          description="%runtimeTypeFuseESBDescription_63"
          id="org.fusesource.ide.fuseesb.runtime.63"
          name="%runtimeTypeFuseESBLabel_63"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="6.3">
       <moduleType types="jst.utility" versions="1.0"></moduleType>
       <moduleType types="jst.web" versions="1.0"></moduleType>       
       <moduleType types="jboss.osgi" versions="1.0"></moduleType>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.fuse.core.server.FuseESBServerDelegate"
           description="%fuseESBServerDescription_60"
           hasConfiguration="false"
           id="org.fusesource.ide.fuseesb.server.60"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.fuseesb6x.launch"
           name="%fuseESBServerType_60"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.fuseesb.runtime.60"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="false" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.fuse.core.server.FuseESBServerDelegate"
           description="%fuseESBServerDescription_61"
           hasConfiguration="false"
           id="org.fusesource.ide.fuseesb.server.61"
           initialState="stopped"
           launchConfigId="org.fusesource.ide.server.fuseesb6x.launch"
           launchModes="run,debug"
           name="%fuseESBServerType_61"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.fuseesb.runtime.61"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="false" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.fuse.core.server.FuseESBServerDelegate"
           description="%fuseESBServerDescription_62"
           hasConfiguration="false"
           id="org.fusesource.ide.fuseesb.server.62"
           initialState="stopped"
           launchConfigId="org.fusesource.ide.server.fuseesb6x.launch"
           launchModes="run,debug"
           name="%fuseESBServerType_62"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.fuseesb.runtime.62"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="false" 
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.fuse.core.server.FuseESBServerDelegate"
           description="%fuseESBServerDescription_63"
           hasConfiguration="false"
           id="org.fusesource.ide.fuseesb.server.63"
           initialState="stopped"
           launchConfigId="org.fusesource.ide.server.fuseesb6x.launch"
           launchModes="run,debug"
           name="%fuseESBServerType_63"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.fuseesb.runtime.63"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="false" 
           supportsRemoteHosts="false">
     </serverType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.fuseesb.runtime.locator"
       typeIds="org.fusesource.ide.fuseesb.runtime.*"
       class="org.fusesource.ide.server.fuse.core.runtime.FuseESBRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.fuseesb.server.locator"
       supportsRemoteHosts="false"
       typeIds="org.fusesource.ide.fuseesb.server.*"
       class="org.fusesource.ide.server.fuse.core.server.FuseESBServerLocator"/>
  </extension>

    <!-- new stuff -->
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           category="JBoss Fuse"
           delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
           id="org.fusesource.ide.server.fuseesb6x.launch"
           modes="run,debug"
           name="%fuseesb.launch.name"
           public="true"
	   sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
	   sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
     </launchConfigurationType>
  </extension>

  <extension
        point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
     <serverBeanTypeProvider
           class="org.fusesource.ide.server.fuse.core.bean.FuseBeanProvider"
           weight="5">
     </serverBeanTypeProvider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
     <provider
           class="org.fusesource.ide.server.fuse.core.runtime.integration.FuseDownloadRuntimesProvider">
     </provider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.runtimeDetectors">
     <runtimeDetector
           class="org.fusesource.ide.server.fuse.core.runtime.integration.FuseRuntimeDetector"
           enabled="true"
           id="org.fusesource.ide.server.fuse.core.runtime.integration.FuseRuntimeDetection"
           name="JBoss Fuse">
     </runtimeDetector>
  </extension>
  
  <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">

         <subsystemMapping
            id="launch.karaf.local.default"
            mappedId="launch.fuse.local"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
         </subsystemMapping>
         
         <subsystemMapping
            id="shutdown.karaf.local.default"
            mappedId="shutdown.fuse.local"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
         </subsystemMapping>

         <subsystemMapping
            id="publish.karaf.local.default"
            mappedId="publish.fuse.local"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
         </subsystemMapping>
         
         <subsystemMapping
            id="modules.karaf.local.default"
            mappedId="modules.fuse.local"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
         </subsystemMapping>
                  
         <subsystemMapping
            id="port.karaf.local.default"
            mappedId="port.fuse.local"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
         </subsystemMapping>
       <!-- Publisher Controllers for specific module types. This one will not be mapped, and will be global  -->
      <subsystemMapping
            id="publishDelegate.fuse.default"
            mappedId="publishDelegate.fuse.default"
            serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
      </subsystemMapping>
      <!-- osgi assembler mapping -->
      <subsystemMapping
            id="publishDelegate.osgi.default"
            mappedId="publishDelegate.osgi.default"
			serverTypes="org.fusesource.ide.fuseesb.server.60,org.fusesource.ide.fuseesb.server.61,org.fusesource.ide.fuseesb.server.62,org.fusesource.ide.fuseesb.server.63">
      </subsystemMapping>
  </extension>
  
  
  
  <!-- Runtime facets -->
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.fuseesb.runtime.60"
            runtime-component="org.fusesource.ide.fuseesb.runtime.component"
            version="6.0"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.fuseesb.runtime.61"
            runtime-component="org.fusesource.ide.fuseesb.runtime.component"
            version="6.1"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.fuseesb.runtime.62"
            runtime-component="org.fusesource.ide.fuseesb.runtime.component"
            version="6.2"/>
      <runtimeFacetMapping
            runtimeTypeId="org.fusesource.ide.fuseesb.runtime.63"
            runtime-component="org.fusesource.ide.fuseesb.runtime.component"
            version="6.3"/>
  </extension>
  
  
    <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      		<runtime-component-type id="org.fusesource.ide.fuseesb.runtime.component"/>
      		<runtime-component-version type="org.fusesource.ide.fuseesb.runtime.component" version="6.0"/>
      		<runtime-component-version type="org.fusesource.ide.fuseesb.runtime.component" version="6.1"/>
      		<runtime-component-version type="org.fusesource.ide.fuseesb.runtime.component" version="6.2"/>
      		<runtime-component-version type="org.fusesource.ide.fuseesb.runtime.component" version="6.3"/>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.fuseesb.runtime.component"
         			version="6.0"/>
       			<facet id="jst.web"  version="[1.0"/>
       			<facet id="jst.java" version="6.0,1.7"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="2.15"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.fuseesb.runtime.component"
         			version="6.1"/>
       			<facet id="jst.web"  version="[1.0"/>
       			<facet id="jst.java" version="6.0,1.7"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="2.15"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.fuseesb.runtime.component"
         			version="6.2"/>
       			<facet id="jst.web"  version="[1.0"/>
       			<facet id="jst.java" version="6.0,1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="2.15"/>
     		</supported>
   			<supported>
        		<runtime-component
         			id="org.fusesource.ide.fuseesb.runtime.component"
         			version="6.3"/>
       			<facet id="jst.web"  version="[1.0"/>
       			<facet id="jst.java" version="1.7,1.8"/>
       			<facet id="jst.utility" version="1.0"/>
       			<facet id="jst.camel" version="2.17"/>
     		</supported>
     		
			<adapter>
			  <runtime-component id="org.fusesource.ide.fuseesb.runtime.component" version="6.0"/>
			  <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
			  <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
			</adapter>
			<adapter>
			  <runtime-component id="org.fusesource.ide.fuseesb.runtime.component" version="6.1"/>
			  <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
			  <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
			</adapter>
			<adapter>
			  <runtime-component id="org.fusesource.ide.fuseesb.runtime.component" version="6.2"/>
			  <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
			  <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
			</adapter>
			<adapter>
			  <runtime-component id="org.fusesource.ide.fuseesb.runtime.component" version="6.3"/>
			  <factory class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafClasspathProviderAdapterFactory"/>
			  <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
			</adapter>
   </extension>  
   
  <!-- 		NEW_SERVER_ADAPTER add id for new runtime in the runtimeIds field below -->
   <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
     <runtimeClasspathProvider
        id="org.fusesource.ide.fuseesb.runtime.component"
        runtimeTypeIds="org.fusesource.ide.fuseesb.runtime.60,org.fusesource.ide.fuseesb.runtime.61,org.fusesource.ide.fuseesb.runtime.62,org.fusesource.ide.fuseesb.runtime.63"
        class="org.fusesource.ide.server.karaf.core.runtime.classpath.KarafProjectRuntimeClasspathProvider"/>
   </extension>
  
</plugin>
