<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.fusesource.ide.branding.perspective.FusePerspective"
            icon="icons/integration_perspective.png"
            id="org.fusesource.ide.branding.perspective"
            name="%rider.perspective.label">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.fusesource.ide.branding.perspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.fusesource.ide.branding.perspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.fusesource.ide.branding.perspective"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="org.fusesource.ide.camel.editor.wizards.NewCamelXmlWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.fusesource.ide.branding.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="org.fusesource.ide.branding.wizards.NewCamelTestWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.fusesource.ide.branding.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="org.fusesource.ide.camel.editor.wizards.NewMessageWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.fusesource.ide.branding.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="org.fusesource.ide.branding.wizards.FuseProjectWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.fusesource.ide.branding.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>


	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%jboss.fuse.category.label"
            id="org.fusesource.ide.newwizards">
      </category>
      <wizard
            name="%rider.newwizard.wizard.label"
            icon="icons/new_camel_context.png"
            category="org.fusesource.ide.newwizards"
            id="org.fusesource.ide.camel.editor.wizards.NewCamelXmlWizard"
            project="false">
         <class class="org.fusesource.ide.branding.wizards.NewCamelXmlWizard">
         	<parameter
                  name="javatype"
                  value="true">
            </parameter>
         </class>
         <description>
            %rider.newwizard.wizard.description
         </description>
         <keywordReference id="org.eclipse.jdt.ui.wizards.java"/>
      </wizard>
      <wizard
            icon="icons/new_camel_test_case.png"
            category="org.fusesource.ide.newwizards"
            name="%rider.newtest.wizard.label"
            id="org.fusesource.ide.branding.wizards.NewCamelTestWizard"
            project="false">
         <class class="org.fusesource.ide.branding.wizards.NewCamelTestWizard">
         	<parameter
                  name="javatype"
                  value="true">
            </parameter>
         </class>
         <description>
            %rider.newtest.wizard.description
         </description>
         <keywordReference id="org.eclipse.jdt.ui.wizards.java"/>
      </wizard>
      <wizard
            name="%rider.newmessage.wizard.label"
            icon="icons/new_message.png"
            category="org.fusesource.ide.newwizards"
            id="org.fusesource.ide.camel.editor.wizards.NewMessageWizard"
            project="false">
         <class class="org.fusesource.ide.branding.wizards.NewMessageWizard">
         </class>
         <description>
            %rider.newmessage.wizard.description
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.eclipse.jdt.ui.java"
            type="new"
            wizardId="org.fusesource.ide.camel.editor.wizards.NewCamelXmlWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaElement">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.eclipse.jdt.ui.java"
            type="new"
            wizardId="org.fusesource.ide.branding.wizards.NewCamelTestWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaElement">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.eclipse.jdt.ui.java"
            type="new"
            wizardId="org.fusesource.ide.camel.editor.wizards.NewMessageWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaElement">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enablement>
      </commonWizard>

   </extension>
      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.fusesource.ide.branding.WorkbenchPreferencePage"
            id="org.fusesource.ide.branding.preferences.root"
            name="%rider.preferences.label">
      </page>
   </extension>

   <extension
         point="org.eclipse.m2e.core.archetypeCatalogs">
      <remote
            description="%remote.description"
            url="https://repo.fusesource.com/nexus/content/groups/public/archetype-catalog.xml">
      </remote>
   </extension>
   <extension point="org.eclipse.ui.intro">
    <introProductBinding introId="org.eclipse.ui.intro.universal"
      productId="org.fusesource.ide.rcp.branding.fuseide"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
   </extension>

      <!--   
      TODO these don't work until m2eclipse 0.13 fixes catalogs due to missing Wagon
   <extension
         point="org.eclipse.m2e.core.indexes">
      <index
            indexId="fusesource-nexus-public"
            isShort="false"
            repositoryUrl="https://repo.fusesource.com/nexus/content/groups/public">
      </index>
   </extension>
      -->
</plugin>
