<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- =========================================================================== -->
<!-- Copyright (c) 2010 JVM Monitor project. All rights reserved.                -->
<!--                                                                             -->
<!-- This code is distributed under the terms of the Eclipse Public License v1.0 -->
<!-- which is available at http://www.eclipse.org/legal/epl-v10.html             -->
<!-- =========================================================================== -->
<plugin>
<!--
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%javaMonitorCagetoryName" id="org.fusesource.ide.jvmmonitor.ui">
      </category>
      <view
            name="%jvmExplorerName"
            icon="icons/full/eview16/vm_explorer.png"
            category="org.fusesource.ide.jvmmonitor.ui"
            class="org.fusesource.ide.jvmmonitor.internal.ui.views.JvmExplorer"
            id="org.fusesource.ide.jvmmonitor.ui.JvmExplorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.fusesource.ide.jvmmonitor.internal.ui.JavaMonitorPerspectiveFactory"
            icon="icons/full/eview16/monitor_persp.png"
            id="org.fusesource.ide.jvmmonitor.ui.JavaMonitorPerspective"
            name="%javaMonitorPerspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.fusesource.ide.jvmmonitor.ui.JavaMonitorPerspective">
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.fusesource.ide.jvmmonitor.ui.JvmExplorer"
            labelProvider="org.fusesource.ide.jvmmonitor.internal.ui.properties.TitleProvider">
         <propertyCategory
               category="monitor"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.fusesource.ide.jvmmonitor.ui.JvmExplorer">
         <propertyTab
               category="monitor"
               id="org.fusesource.ide.jvmmonitor.ui.overviewTab"
               label="%overviewTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.jvmmonitor.ui.overviewTab"
               category="monitor"
               id="org.fusesource.ide.jvmmonitor.ui.mbeansTab"
               label="%mbeansTabLabel">
         </propertyTab>
         <propertyTab
               category="monitor"
               afterTab="org.fusesource.ide.jvmmonitor.ui.mbeansTab"
               id="org.fusesource.ide.jvmmonitor.ui.timelineTab"
               label="%timelineTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.jvmmonitor.ui.timelineTab"
               category="monitor"
               id="org.fusesource.ide.jvmmonitor.ui.threadsTab"
               label="%threadsTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.jvmmonitor.ui.threadsTab"
               category="monitor"
               id="org.fusesource.ide.jvmmonitor.ui.memoryTab"
               label="%memoryTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.jvmmonitor.ui.memoryTab"
               category="monitor"
               id="org.fusesource.ide.jvmmonitor.ui.cpuTab"
               label="%cpuTabLabel">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.fusesource.ide.jvmmonitor.ui.JvmExplorer">
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.overview.OverviewSection"
               id="org.fusesource.ide.jvmmonitor.ui.overviewSection"
               tab="org.fusesource.ide.jvmmonitor.ui.overviewTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.timeline.TimelineSection"
               id="org.fusesource.ide.jvmmonitor.ui.timelineSection"
               tab="org.fusesource.ide.jvmmonitor.ui.timelineTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.thread.ThreadsSection"
               id="org.fusesource.ide.jvmmonitor.ui.threadsSection"
               tab="org.fusesource.ide.jvmmonitor.ui.threadsTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.memory.MemorySection"
               id="org.fusesource.ide.jvmmonitor.ui.memorySection"
               tab="org.fusesource.ide.jvmmonitor.ui.memoryTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.cpu.CpuSection"
               id="org.fusesource.ide.jvmmonitor.ui.cpuSection"
               tab="org.fusesource.ide.jvmmonitor.ui.cpuTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.jvmmonitor.internal.ui.properties.mbean.MBeansSection"
               id="org.fusesource.ide.jvmmonitor.ui.mbeansSection"
               tab="org.fusesource.ide.jvmmonitor.ui.mbeansTab">
            <input
                  type="org.fusesource.ide.jvmmonitor.core.IActiveJvm">
            </input>
            <input
                  type="org.fusesource.ide.jvmmonitor.internal.ui.IJvmFacade">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fusesource.ide.jvmmonitor.internal.ui.editors.CpuDumpEditor"
            default="true"
            extensions="cpu"
            icon="icons/full/obj16/cpu_dump.gif"
            id="org.fusesource.ide.jvmmonitor.ui.dump.cpu"
            name="%cpuDumpEditorName">
      </editor>
      <editor
            class="org.fusesource.ide.jvmmonitor.internal.ui.editors.ThreadDumpEditor"
            contributorClass="org.fusesource.ide.jvmmonitor.internal.ui.editors.ThreadActionContributor"
            default="false"
            extensions="thread"
            icon="icons/full/obj16/thread_dump.gif"
            id="org.fusesource.ide.jvmmonitor.ui.dump.thread"
            name="%threadDumpEditorName">
      </editor>
      <editor
            class="org.fusesource.ide.jvmmonitor.internal.ui.editors.HeapDumpEditor"
            default="false"
            extensions="heap"
            icon="icons/full/obj16/heap_dump.gif"
            id="org.fusesource.ide.jvmmonitor.ui.dump.heap"
            name="%heapDumpEditorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fusesource.ide.branding.preferences.root"
            class="org.fusesource.ide.jvmmonitor.internal.ui.JavaMonitorPreferencePage"
            id="org.fusesource.ide.jvmmonitor.ui.JavaMonitorPreferencePage"
            name="%monitorPreferencePageName">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.jvmmonitor.internal.ui.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
