<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="RiderProjectNature" name="JBoss Fuse Nature" point="org.eclipse.core.resources.natures">
    	<runtime>
        	<run class="org.fusesource.ide.project.RiderProjectNature"/>
		</runtime>
      	<content-type id="org.fusesource.ide.project.camelNatureContentType"/>
		<builder id="org.fusesource.ide.project.RiderProjectBuilder"/>
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
    	<image id="org.fusesource.ide.project.RiderProjectNature.icon" 
    		   natureId="org.fusesource.ide.project.RiderProjectNature"
    		   icon="icons/camel_project_16x16.png"/>
	</extension>
 
 	<extension point="org.eclipse.core.resources.builders" 
 			   id="org.fusesource.ide.project.RiderProjectBuilder">
    	<builder
        	callOnEmptyDelta="false"
          	hasNature="true"
          	isConfigurable="false"
          	supportsConfigurations="false">
    	   	<run class="org.fusesource.ide.project.RiderProjectBuilder"/>
	    </builder>
 	</extension>
 
 	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
	    	id="org.fusesource.ide.camelContent"
	        activeByDefault="true"
	        contentProvider="org.fusesource.ide.project.providers.CamelFilesContentProvider"
	        icon="icons/fuse_icon_16c.png"
	        labelProvider="org.fusesource.ide.project.providers.CamelFilesLabelProvider"
	        name="Camel Contexts"
	        priority="highest">
	     	<triggerPoints>
          		<or>
               		<instanceof value="org.eclipse.jdt.core.IJavaProject" />
               		<instanceof value="org.eclipse.core.resources.IProject"/>
	            </or>
			</triggerPoints>
			<possibleChildren>
            	<and>
                	<adapt type="org.eclipse.core.resources.IFile">
                		<test property="org.eclipse.core.resources.contentTypeId"
                      	  	  value="org.fusesource.ide.project.camelNatureContentType">
                		</test>
                 	</adapt>
             	</and>
          	</possibleChildren>
       		<enablement>
          		<and>
             		<instanceof value="org.eclipse.core.resources.IProject"/>
					<test 	forcePluginActivation="true"
                   			property="org.fusesource.ide.project.CamelNatureTester.camelNatureEnabled"
                   			value="true"/>
             		<test	forcePluginActivation="true"
                   			property="org.fusesource.ide.project.CamelNatureTester.hasChildren"
                   			value="true"/>
				</and>
       		</enablement>
       		<actionProvider
            	class="org.fusesource.ide.project.providers.VirtualCamelNodesActionProvider"
             	id="org.fusesource.ide.project.navigator.actionProvider">
          		<enablement>
             		<or>
                		<instanceof value="org.fusesource.ide.project.providers.CamelVirtualFolder"/>
		            </or>
        	 	</enablement>
       		</actionProvider>
   		</navigatorContent>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.jdt.ui.PackageExplorer">
	    	<includes>
	        	<contentExtension isRoot="false" pattern="org.fusesource.ide.camelContent"/>
			</includes>
	   	</viewerContentBinding>
	   	<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	    	<includes>
	        	<contentExtension isRoot="false" pattern="org.fusesource.ide.camelContent"/>
			</includes>
	   	</viewerContentBinding>
	</extension>

 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.fusesource.ide.project.CamelNatureTester"
          id="org.fusesource.ide.project.CamelNatureTester"
          namespace="org.fusesource.ide.project.CamelNatureTester"
          properties="camelNatureEnabled,camelNatureDisabled,projectOpen,hasChildren"
          type="org.eclipse.core.resources.IProject">
    </propertyTester>
 </extension>

 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="org.fusesource.ide.project.decorator.CamelProblemDecorator"
          id="org.fusesource.ide.project.decorator.problem.route"
          label="Camel Problem Decorator"
          lightweight="true"
          location="BOTTOM_LEFT"
          state="true">
       <enablement>
          <or>
             <objectClass
                   name="org.fusesource.ide.project.providers.CamelVirtualFolder">
             </objectClass>
             <objectClass
                   name="org.fusesource.ide.camel.model.service.core.model.CamelRouteElement">
             </objectClass>
             <objectClass
                   name="org.fusesource.ide.camel.editor.navigator.CamelCtxNavRouteNode">
             </objectClass>
             <objectClass
                   name="org.fusesource.ide.camel.model.service.core.model.AbstractCamelModelElement">
             </objectClass>
          </or>
       </enablement>
    </decorator>
 </extension>
 
 	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.fusesource.ide.project.configuration.nature.enable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.fusesource.ide.project.RiderProjectNature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.fusesource.ide.project.AddCamelNatureAction"
               id="org.fusesource.ide.project.AddCamelNatureAction"
               label="%ConfigureMenu_AddCamelSupport"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="org.fusesource.ide.project.configuration.nature.disable"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.fusesource.ide.project.RiderProjectNature">
               </objectState>
            </and>
         </visibility>
         <action
               class="org.fusesource.ide.project.RemoveCamelNatureAction"
               id="org.fusesource.ide.project.RemoveCamelNatureAction"
               label="%ConfigureMenu_RemoveCamelSupport"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
	</extension>

</plugin>
