<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeWizardFragment6x"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.60"
            typeIds="org.fusesource.ide.fuseesb.runtime.60">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeWizardFragment6x"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.61"
            typeIds="org.fusesource.ide.fuseesb.runtime.61">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment6x"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.60"
            typeIds="org.fusesource.ide.fuseesb.server.60">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment6x"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.61"
            typeIds="org.fusesource.ide.fuseesb.server.61">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.60"
            typeIds="org.fusesource.ide.fuseesb.server.60">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.61"
            typeIds="org.fusesource.ide.fuseesb.server.61">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.60"
            typeIds="org.fusesource.ide.fuseesb.runtime.60">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.61"
            typeIds="org.fusesource.ide.fuseesb.runtime.61">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.fusesource.ide.server.fuse.ui.editor.FuseESBConnectionDetailsEditorSection"
            id="org.fusesource.ide.server.fuseesb.ui.connection.details"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.fusesource.ide.fuseesb.server.*">
      </section>
   </extension>

</plugin>