# Global Code Owner used if no specific owner can be found. 
# Order is important; the last matching pattern takes the most precedence. 
*	@jbosstools/fuse-tooling-eng

# QE Tests
/uitests/	@jbosstools/fuse-tooling-qe   

# Documentation
/core/plugins/org.fusesource.ide.help/	@jbosstools/fuse-tooling-doc @jbosstools/fuse-tooling-eng
