<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.fusesource.ide.zk.zookeeper.perspective.ZooKeeperPerspective"
            icon="resources/images/png/views/explorer.png"
            id="org.fusesource.ide.zk.zookeeper.perspective"
            name="ZooKeeper">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.fusesource.ide"
            class="org.fusesource.ide.zk.zookeeper.views.explorer.ZooKeeperExplorerView"
            icon="resources/images/png/views/explorer.png"
            id="org.fusesource.ide.zk.zookeeper.views.explorer.ZooKeeperExplorerView"
            name="ZooKeeper Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.fusesource.ide.zk.zookeeper.perspective">
         <view
               id="org.fusesource.ide.zk.zookeeper.views.explorer.ZooKeeperExplorerView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.fusesource.ide.zk.zookeeper"
            name="ZooKeeper">
      </category>
      <wizard
            category="org.fusesource.ide.zk.zookeeper"
            class="org.fusesource.ide.zk.zookeeper.wizards.newzookeeperconnection.ZooKeeperConnectionNewWizard"
            icon="resources/images/png/wizards/new-zookeeper-connection.png"
            id="org.fusesource.ide.zk.zookeeper.wizards.newzookeeperconnection.ZooKeeperConnectionNewWizard"
            name="New ZooKeeper Connection">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fusesource.ide.zk.zookeeper.editors.znodetable.ZnodeModelTableEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            id="org.fusesource.ide.zk.zookeeper.editors.znodetable.ZnodeModelTableEditor"
            name="Znode Table Editor">
      </editor>
      <editor
            class="org.fusesource.ide.zk.zookeeper.editors.zookeeperconnectionform.ZooKeeperConnectionModelFormEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            icon="resources/images/png/objects/zookeeper-connection.png"
            id="org.fusesource.ide.zk.zookeeper.editors.zookeeperconnectionform.ZooKeeperConnectionModelFormEditor"
            name="ZooKeeper Connection Editor">
      </editor>
      <editor
            class="org.fusesource.ide.zk.zookeeper.editors.zookeeperserverform.ZooKeeperServerModelFormEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            id="org.fusesource.ide.zk.zookeeper.editors.zookeeperserverform.ZooKeeperServerModelFormEditor"
            name="ZooKeeper Server Editor">
      </editor>
      <editor
            class="org.fusesource.ide.zk.zookeeper.editors.znodeform.ZnodeModelFormEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="resources/images/png/objects/znode.png"
            id="org.fusesource.ide.zk.zookeeper.editors.znodeform.ZnodeModelFormEditor"
            name="Znode Editor">
      </editor>
   </extension>

</plugin>
