<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.jmx.fabric8.Fabric8PreferenceInitializer">
      </initializer>
   </extension>

   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="org.fusesource.ide.fabric8.jmx.content"
             name="Fabric8 Content"
             activeByDefault="true"
             icon="icons/fabric8.png"
             priority="normal"
             contentProvider="org.fusesource.ide.jmx.fabric8.jmx.content.navigator.providers.Fabric8NodeContentProvider"
             labelProvider="org.fusesource.ide.jmx.fabric8.jmx.content.navigator.providers.Fabric8NodeLabelProvider">
          <triggerPoints>
             <instanceof
                   value="org.jboss.tools.jmx.core.IConnectionWrapper">
             </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
              </or>
          </possibleChildren>
       </navigatorContent>
	</extension>

	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.fabric8.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerContentBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.fabric8.jmx.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
	</extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertyTab
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ContainersTab"
				label="Containers"/>
 		 <propertyTab
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.FabricStatusTab"
				label="Status"/>
		 <propertyTab
				afterTab="org.fusesource.ide.jmx.ui.views.PropertiesTab"
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ContainerProfilesTab"
				label="Profiles"/>
		 <propertyTab
				afterTab="org.fusesource.ide.jmx.ui.views.ContainerProfilesTab"
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ContainerProfileDetailsTab"
				label="Profile Details"/>
		 <propertyTab
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ProfileDetailsTab"
				label="Details"/>
		 <propertyTab
				afterTab="org.fusesource.ide.jmx.ui.views.PropertiesTab"
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ProfileRequirementsTab"
				label="Requirements"/>
		 <propertyTab
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.NodesTab"
				label="Nodes" />
		 <propertyTab
				category="org.jboss.tools.jmx.ui.views"
				id="org.fusesource.ide.jmx.ui.views.ContainerLogTab"
				label="Logs"/>
		
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
		 <propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.ContainersTabSection"
			id="ContainersSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainersTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainersNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileContainersTabSection"
			id="ProfileContainersSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainersTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.FabricStatusTabSection"
			id="FabricStatusSection"
			tab="org.fusesource.ide.jmx.ui.views.FabricStatusTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.Fabric8Node">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileTreeTabSection"
			id="ContainerProfilesSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerProfilesTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfilesTabSection"
			id="ContainerProfileDetailsSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerProfileDetailsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileDetailsTabSection"
			id="ProfileDetailsSection"
			tab="org.fusesource.ide.jmx.ui.views.ProfileDetailsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileRequirementsTabSection"
			id="ProfileRequirementsSection"
			tab="org.fusesource.ide.jmx.ui.views.ProfileRequirementsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.LogViewTabSection"
			id="ContainerLogsSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerLogTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
   			<input
         		type="org.fusesource.ide.jmx.fabric8.navigator.Fabric8Node">
   			</input>
		</propertySection>
      </propertySections>
  </extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.wst.server.ui.ServersView">
      <propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.ContainersTabSection"
			id="ContainersSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainersTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainersNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileContainersTabSection"
			id="ProfileContainersSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainersTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.FabricStatusTabSection"
			id="FabricStatusSection"
			tab="org.fusesource.ide.jmx.ui.views.FabricStatusTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.Fabric8Node">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileTreeTabSection"
			id="ContainerProfilesSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerProfilesTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfilesTabSection"
			id="ContainerProfileDetailsSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerProfileDetailsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileDetailsTabSection"
			id="ProfileDetailsSection"
			tab="org.fusesource.ide.jmx.ui.views.ProfileDetailsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.fabric8.ProfileRequirementsTabSection"
			id="ProfileRequirementsSection"
			tab="org.fusesource.ide.jmx.ui.views.ProfileRequirementsTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ProfileNode">
			</input>
		</propertySection>
		<propertySection
			class="org.fusesource.ide.jmx.fabric8.navigator.properties.LogViewTabSection"
			id="ContainerLogsSection"
			tab="org.fusesource.ide.jmx.ui.views.ContainerLogTab">
			<input
				type="org.fusesource.ide.jmx.fabric8.navigator.ContainerNode">
			</input>
   			<input
         		type="org.fusesource.ide.jmx.fabric8.navigator.Fabric8Node">
   			</input>
		</propertySection>
      </propertySections>
   </extension>
   
</plugin>
