<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="org.fusesource.ide.smx.jmx.content"
             name="ServiceMix Endpoints"
             activeByDefault="true"
             icon="icons/smx_server.png"
             priority="normal"
             contentProvider="org.fusesource.ide.jmx.servicemix.jmx.content.navigator.providers.SMXNodeContentProvider"
             labelProvider="org.fusesource.ide.jmx.commons.labelproviders.NodeSupportLabelProvider">
          <triggerPoints>
             <instanceof
                   value="org.jboss.tools.jmx.core.IConnectionWrapper">
             </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
              </or>
          </possibleChildren>
       </navigatorContent>
	</extension>

	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.smx.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerContentBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.smx.jmx.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
	</extension>

   
</plugin>
