<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- =========================================================================== -->
<!-- Copyright (c) 2010 JVM Monitor project. All rights reserved.                -->
<!--                                                                             -->
<!-- This code is distributed under the terms of the Eclipse Public License v1.0 -->
<!-- which is available at http://www.eclipse.org/legal/epl-v10.html             -->
<!-- =========================================================================== -->
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension point="org.eclipse.help.toc">
       <toc file="topics_GettingStarted.xml" />
       <toc file="topics_Tasks.xml" />
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_UI.xml"
            plugin="org.fusesource.ide.jvmmonitor.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Tools.xml"
            plugin="org.fusesource.ide.jvmmonitor.tools">
      </contexts>
   </extension>
</plugin>
