<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fusesource.ide.sap.ui.command.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.sap.ui.command.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.sap.ui.command.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.sap.ui.command.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.sap.ui.command.UndoHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.sap.ui.command.RedoHandler"
            commandId="org.eclipse.ui.edit.redo">
         <activeWhen>
            <reference
                  definitionId="InSapConnectionsView">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.fusesource.ide.sap"
            class="org.fusesource.ide.sap.ui.view.SapConnectionsView"
            icon="icons/SAP16.png"
            id="org.fusesource.ide.sap.ui.view.SapConnectionsView"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="org.fusesource.ide.sap"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.fusesource.ide.sap.ui.command.NewDestinationHandler"
            id="org.fusesource.ide.sap.ui.command.NewDestinationDataStoreEntryHandler"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.fusesource.ide.sap.ui.command.NewServerHandler"
            id="org.fusesource.ide.sap.ui.command.NewServerDataStoreEntryHandler"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="org.fusesource.ide.sap.ui.command.ExportWizardHandler"
            id="org.fusesource.ide.sap.ui.command.ExportWizard"
            name="%command.name.1">
      </command>
      <command
            defaultHandler="org.fusesource.ide.sap.ui.command.TestHandler"
            id="org.fusesource.ide.sap.ui.command.Test"
            name="%command.name.2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.fusesource.ide.sap.ui.view.SapConnectionsView?before=edit">
         <command
               commandId="org.fusesource.ide.sap.ui.command.NewDestinationDataStoreEntryHandler"
               disabledIcon="icons/full/dtool16/new_destination.gif"
               icon="icons/full/etool16/new_destination.gif"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.fusesource.ide.sap.ui.command.NewServerDataStoreEntryHandler"
               disabledIcon="icons/full/dtool16/new_server.gif"
               icon="icons/full/etool16/new_server.gif"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.fusesource.ide.sap.ui.ServerDataStoreSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.fusesource.ide.sap.ui.command.Test"
               disabledIcon="icons/full/dtool16/test.gif"
               icon="icons/full/etool16/test.gif"
               label="%command.label.8"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreEntrySelected">
                  </reference>
                  <reference
                        definitionId="org.fusesource.ide.sap.ui.ServerDataStoreEntrySelected">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="org.fusesource.ide.sap.ui.NewSeparatorEnd"
               visible="true"></separator>
         <command
               commandId="org.eclipse.ui.edit.undo"
               disabledIcon="icons/full/dtool16/undo_edit.gif"
               icon="icons/full/etool16/undo_edit.gif"
               label="%command.label.1"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               disabledIcon="icons/full/dtool16/redo_edit.gif"
               icon="icons/full/etool16/redo_edit.gif"
               label="%command.label.2"
               style="push">
         </command>
         <separator
               name="org.fusesource.ide.sap.ui.UndoRedoSeparatorEnd"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.cut"
               disabledIcon="icons/full/dtool16/cut_edit.gif"
               icon="icons/full/etool16/cut_edit.gif"
               label="%command.label.3"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreEntrySelected">
	               </reference>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.ServerDataStoreEntrySelected">
	               </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="icons/full/dtool16/copy_edit.gif"
               icon="icons/full/etool16/copy_edit.gif"
               label="%command.label.4"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreEntrySelected">
	               </reference>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.ServerDataStoreEntrySelected">
	               </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               disabledIcon="icons/full/dtool16/paste_edit.gif"
               icon="icons/full/etool16/paste_edit.gif"
               label="%command.label.5"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreSelected">
	               </reference>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.ServerDataStoreSelected">
	               </reference>
               </or>
            </visibleWhen>
         </command>
         <separator
               name="org.fusesource.ide.sap.ui.CutCopyPasteSeparatorEnd"
               visible="true"></separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/full/dtool16/delete.gif"
               icon="icons/full/etool16/delete.gif"
               label="%command.label.6"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.DestinationDataStoreEntrySelected">
	               </reference>
	               <reference
	                     definitionId="org.fusesource.ide.sap.ui.ServerDataStoreEntrySelected">
	               </reference>
               </or>
            </visibleWhen>
         </command>
          <separator
               name="org.fusesource.ide.sap.ui.DeleteSeparatorEnd"
               visible="true"></separator>
         <command
               commandId="org.fusesource.ide.sap.ui.command.ExportWizard"
               disabledIcon="icons/full/dtool16/export_wiz.gif"
               icon="icons/full/etool16/export_wiz.gif"
               label="%command.label.7"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="InSapConnectionsView">
         <with
               variable="activePartId">
            <equals
                  value="org.fusesource.ide.sap.ui.view.SapConnectionsView">
            </equals>
         </with>
      </definition>
      <definition
            id="org.fusesource.ide.sap.ui.DestinationDataStoreSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.fusesource.camel.component.sap.model.rfc.DestinationDataStore">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.fusesource.ide.sap.ui.DestinationDataStoreEntrySelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.fusesource.ide.sap.ui.ServerDataStoreSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.fusesource.camel.component.sap.model.rfc.ServerDataStore">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.fusesource.ide.sap.ui.ServerDataStoreEntrySelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.fusesource.camel.component.sap.model.rfc.impl.ServerDataStoreEntryImpl">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.fusesource.ide.sap.ui.view.SapConnectionsView"
            labelProvider="org.fusesource.ide.sap.ui.properties.PropertyLabelProvider">
         <propertyCategory
               category="destination"></propertyCategory>
         <propertyCategory
               category="server">
         </propertyCategory>
         <propertyCategory
               category="description">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.fusesource.ide.sap.ui.view.SapConnectionsView">
         <propertyTab
               category="destination"
               id="org.fusesource.ide.sap.ui.BasicTab"
               label="%propertyTab.label">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.BasicTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.ConnectionTab"
               label="%propertyTab.label.0">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.ConnectionTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.AuthenticationTab"
               label="%propertyTab.label.1">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.AuthenticationTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.SpecialTab"
               label="%propertyTab.label.2">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.SpecialTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.PoolTab"
               label="%propertyTab.label.3">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.PoolTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.SncTab"
               label="%propertyTab.label.4">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.SncTab"
               category="destination"
               id="org.fusesource.ide.sap.ui.RepositoryTab"
               label="%propertyTab.label.5">
         </propertyTab>
         <propertyTab
               category="server"
               id="org.fusesource.ide.sap.ui.MandatoryTab"
               label="%propertyTab.label.6">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.MandatoryTab"
               category="server"
               id="org.fusesource.ide.sap.ui.OptionalTab"
               label="%propertyTab.label.7">
         </propertyTab>
         <propertyTab
               afterTab="org.fusesource.ide.sap.ui.OptionalTab"
               category="server"
               id="org.fusesource.ide.sap.ui.SncServerTab"
               label="%propertyTab.label.8">
         </propertyTab>
         <propertyTab
               category="description"
               id="org.fusesource.ide.sap.ui.Description"
               label="%propertyTab.label.9">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.fusesource.ide.sap.ui.view.SapConnectionsView">
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.BasicPropertySection"
               id="org.fusesource.ide.sap.ui.BasicSection"
               tab="org.fusesource.ide.sap.ui.BasicTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.ConnectionPropertySection"
               id="org.fusesource.ide.sap.ui.ConnectionSection"
               tab="org.fusesource.ide.sap.ui.ConnectionTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.AuthenticationPropertySection"
               id="org.fusesource.ide.sap.ui.AuthenticationSection"
               tab="org.fusesource.ide.sap.ui.AuthenticationTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.SpecialPropertySection"
               id="org.fusesource.ide.sap.ui.SpecialSection"
               tab="org.fusesource.ide.sap.ui.SpecialTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.PoolPropertySection"
               id="org.fusesource.ide.sap.ui.PoolSection"
               tab="org.fusesource.ide.sap.ui.PoolTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.SncPropertySection"
               id="org.fusesource.ide.sap.ui.SncSection"
               tab="org.fusesource.ide.sap.ui.SncTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.RepositoryPropertySection"
               id="org.fusesource.ide.sap.ui.RepositorySection"
               tab="org.fusesource.ide.sap.ui.RepositoryTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.DestinationDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.MandatoryServerPropertySection"
               id="org.fusesource.ide.sap.ui.MandatorySection"
               tab="org.fusesource.ide.sap.ui.MandatoryTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.ServerDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.OptionalServerPropertySection"
               id="org.fusesource.ide.sap.ui.OptionalSection"
               tab="org.fusesource.ide.sap.ui.OptionalTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.ServerDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.SncServerPropertySection"
               id="org.fusesource.ide.sap.ui.SncServerSection"
               tab="org.fusesource.ide.sap.ui.SncServerTab">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.impl.ServerDataStoreEntryImpl">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.SapConnectionConfigurationSection"
               id="org.fusesource.ide.sap.ui.SapConnectionConfigurationSection"
               tab="org.fusesource.ide.sap.ui.Description">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.SapConnectionConfiguration">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.DestinationDataStoreSection"
               id="org.fusesource.ide.sap.ui.DestinationDataStoreSection"
               tab="org.fusesource.ide.sap.ui.Description">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.DestinationDataStore">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.sap.ui.properties.ServerDataStoreSection"
               id="org.fusesource.ide.sap.ui.ServerDataStoreSection"
               tab="org.fusesource.ide.sap.ui.Description">
            <input
                  type="org.fusesource.camel.component.sap.model.rfc.ServerDataStore">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
	      <category
	            id="org.fusesource.ide.JBossFuseCategory"
	            name="%category.name.0">
	      </category>
         <wizard
         	id="org.fusesource.ide.sap.ui.SapConnectionConfigurationExportWizard"
            category="org.fusesource.ide.JBossFuseCategory"
         	name="%wizard.name"
            icon="icons/SAP16.png"
         	class="org.fusesource.ide.sap.ui.export.SapConnectionConfigurationExportWizard">
         	<description>
         		%wizard.description
         	</description>
         </wizard>
   </extension>
</plugin>
