<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_40"
          id="org.fusesource.ide.smx.runtime.40"
          name="%runtimeTypeServiceMixLabel_40"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.0">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_42"
          id="org.fusesource.ide.smx.runtime.42"
          name="%runtimeTypeServiceMixLabel_42"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.2">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_43"
          id="org.fusesource.ide.smx.runtime.43"
          name="%runtimeTypeServiceMixLabel_43"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.3">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_44"
          id="org.fusesource.ide.smx.runtime.44"
          name="%runtimeTypeServiceMixLabel_44"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.4">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_45"
          id="org.fusesource.ide.smx.runtime.45"
          name="%runtimeTypeServiceMixLabel_45"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.5">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%serviceMixServerDescription_40"
           hasConfiguration="true"
           id="org.fusesource.ide.smx.server.40"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%serviceMixServerType_40"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.smx.runtime.40"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%serviceMixServerDescription_42"
           hasConfiguration="true"
           id="org.fusesource.ide.smx.server.42"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%serviceMixServerType_42"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.smx.runtime.42"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%serviceMixServerDescription_43"
           hasConfiguration="true"
           id="org.fusesource.ide.smx.server.43"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%serviceMixServerType_43"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.smx.runtime.43"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%serviceMixServerDescription_44"
           hasConfiguration="true"
           id="org.fusesource.ide.smx.server.44"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%serviceMixServerType_44"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.smx.runtime.44"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%serviceMixServerDescription_45"
           hasConfiguration="true"
           id="org.fusesource.ide.smx.server.45"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%serviceMixServerType_45"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.smx.runtime.45"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.smx.runtime.locator"
       typeIds="org.fusesource.ide.smx.runtime.*"
       class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMix4xRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.smx.server.locator"
       supportsRemoteHosts="false"
       typeIds="org.fusesource.ide.smx.server.*"
       class="org.fusesource.ide.server.servicemix.core.server.ServiceMix4xServerLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.installableRuntimes">
    <runtime
          archivePath="apache-servicemix-4.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.0.0/apache-servicemix-4.0.0.zip"
          id="org.fusesource.ide.smx.runtime.40"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.0.0/apache-servicemix-4.0.0.tar.gz"
          id="org.fusesource.ide.smx.runtime.40"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.2.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.2.0/apache-servicemix-4.2.0.zip"
          id="org.fusesource.ide.smx.runtime.42"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.2.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.2.0/apache-servicemix-4.2.0.tar.gz"
          id="org.fusesource.ide.smx.runtime.42"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.3.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.3.0/apache-servicemix-4.3.0.zip"
          id="org.fusesource.ide.smx.runtime.43"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.3.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.3.0/apache-servicemix-4.3.0.tar.gz"
          id="org.fusesource.ide.smx.runtime.43"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.4.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.4.2/apache-servicemix-4.4.2.zip"
          id="org.fusesource.ide.smx.runtime.44"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.4.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.4.2/apache-servicemix-4.4.2.tar.gz"
          id="org.fusesource.ide.smx.runtime.44"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.5.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.5.2/apache-servicemix-4.5.2.zip"
          id="org.fusesource.ide.smx.runtime.45"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.5.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.5.2/apache-servicemix-4.5.2.tar.gz"
          id="org.fusesource.ide.smx.runtime.45"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
  </extension>
  
</plugin>
