<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_45"
          id="org.fusesource.ide.servicemix.runtime.45"
          name="%runtimeTypeServiceMixLabel_45"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="4.5">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMixRuntimeDelegate"
          description="%runtimeTypeServiceMixDescription_50"
          id="org.fusesource.ide.servicemix.runtime.50"
          name="%runtimeTypeServiceMixLabel_50"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="5.0">
       <moduleType
             types="fuse.camel"
             versions="1.0">
       </moduleType>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.servicemix.core.server.ServiceMixServerDelegate"
           description="%serviceMixServerDescription_45"
           hasConfiguration="true"
           id="org.fusesource.ide.servicemix.server.45"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.servicemix4x.launch"
           name="%serviceMixServerType_45"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.servicemix.runtime.45"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="true">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.ControllableKarafServerBehavior"
           class="org.fusesource.ide.server.servicemix.core.server.ServiceMix5xServerDelegate"
           description="%serviceMixServerDescription_50"
           hasConfiguration="true"
           id="org.fusesource.ide.servicemix.server.50"
           initialState="stopped"
           launchConfigId="org.fusesource.ide.server.servicemix4x.launch"
           launchModes="run,debug"
           name="%serviceMixServerType_50"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.servicemix.runtime.50"
           startTimeout="90000"
           stopTimeout="45000"
           startBeforePublish="true" 
           supportsRemoteHosts="true">
     </serverType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.servicemix.runtime.locator"
       typeIds="org.fusesource.ide.servicemix.runtime.*"
       class="org.fusesource.ide.server.servicemix.core.runtime.ServiceMix4xRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.servicemix.server.locator"
       supportsRemoteHosts="true"
       typeIds="org.fusesource.ide.servicemix.server.*"
       class="org.fusesource.ide.server.servicemix.core.server.ServiceMixServerLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.installableRuntimes">
    <runtime
          archivePath="apache-servicemix-4.5.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.5.2/apache-servicemix-4.5.2.zip"
          id="org.fusesource.ide.servicemix.runtime.45"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-4.5.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/4.5.2/apache-servicemix-4.5.2.tar.gz"
          id="org.fusesource.ide.servicemix.runtime.45"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-servicemix-5.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/5.0.0/apache-servicemix-5.0.0.zip"
          id="org.fusesource.ide.servicemix.runtime.50"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-servicemix-5.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/servicemix/apache-servicemix/5.0.0/apache-servicemix-5.0.0.zip"
          id="org.fusesource.ide.servicemix.runtime.50"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
  </extension>
  
  <!-- new stuff -->
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
           id="org.fusesource.ide.server.servicemix4x.launch"
           modes="run,debug"
           name="%servicemix.launch.name"
           public="true">
     </launchConfigurationType>
  </extension>
  
  <extension
        point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
     <serverBeanTypeProvider
           class="org.fusesource.ide.server.servicemix.core.bean.ServiceMixBeanProvider"
           weight="5">
     </serverBeanTypeProvider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
     <provider
           class="org.fusesource.ide.server.servicemix.core.runtime.integration.ServiceMixDownloadRuntimesProvider">
     </provider>
  </extension>
  <extension
        point="org.jboss.tools.runtime.core.runtimeDetectors">
     <runtimeDetector
           class="org.fusesource.ide.server.servicemix.core.runtime.integration.ServiceMixRuntimeDetector"
           enabled="true"
           id="org.fusesource.ide.server.servicemix.core.runtime.integration.ServiceMixRuntimeDetection"
           name="Apache ServiceMix">
     </runtimeDetector>
  </extension>
  
  <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
         <subsystemMapping
            id="launch.karaf.local.default"
            mappedId="launch.smx.local"
            serverTypes="org.fusesource.ide.servicemix.server.45,org.fusesource.ide.servicemix.server.50">
         </subsystemMapping>
         
         <subsystemMapping
            id="shutdown.karaf.local.default"
            mappedId="shutdown.servicemix.local"
            serverTypes="org.fusesource.ide.servicemix.server.45,org.fusesource.ide.servicemix.server.50">
         </subsystemMapping>
         
         <subsystemMapping
            id="publish.karaf.local.default"
            mappedId="publish.smx.local"
            serverTypes="org.fusesource.ide.servicemix.server.45,org.fusesource.ide.servicemix.server.50">
         </subsystemMapping>
         
         <subsystemMapping
            id="modules.karaf.local.default"
            mappedId="modules.smx.local"
            serverTypes="org.fusesource.ide.servicemix.server.45,org.fusesource.ide.servicemix.server.50">
         </subsystemMapping>
         
         <subsystemMapping
            id="port.karaf.local.default"
            mappedId="port.servicemix.local"
            serverTypes="org.fusesource.ide.servicemix.server.45,org.fusesource.ide.servicemix.server.50">
         </subsystemMapping>
  </extension>
</plugin>
