<?xml version="1.0" encoding="UTF-8"?>
    <?eclipse version="3.4"?>
    <plugin>
       <extension
             point="org.eclipse.wst.xml.core.catalogContributions">
      		  		<catalogContribution id="org.fusesource.ide.catalogs">
                   <uri
                      id="org.fusesource.xml.catalog.uri.activemq-core"
                      name="http://activemq.apache.org/schema/core/activemq-core.xsd"
                      uri="xsd/fuse/activemq-core-5.7.0.fuse-71-047.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.activemq-ra"
                      name="http://activemq.apache.org/schema/ra/activemq-ra.xsd"
                      uri="xsd/fuse/activemq-ra-5.7.0.fuse-71-047.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-blueprint"
                      name="http://camel.apache.org/schema/blueprint/camel-blueprint.xsd"
                      uri="xsd/fuse/camel-blueprint-2.10.0.fuse-71-047.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-cxf"
                      name="http://camel.apache.org/schema/cxf/camel-cxf.xsd"
                      uri="xsd/fuse/camel-cxf-2.10.0.fuse-71-047-blueprint.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-cxf"
                      name="http://camel.apache.org/schema/cxf/camel-cxf.xsd"
                      uri="xsd/fuse/camel-cxf-2.10.0.fuse-71-047-spring.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-spring"
                      name="http://camel.apache.org/schema/spring/camel-spring.xsd"
                      uri="xsd/fuse/camel-spring-2.10.0.fuse-71-047.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-spring-integration"
                      name="http://camel.apache.org/schema/spring-integration/camel-spring-integration.xsd"
                      uri="xsd/fuse/camel-spring-integration-2.10.0.fuse-71-047.xsd"/>
               <uri
                      id="org.fusesource.xml.catalog.uri.camel-spring-security"
                      name="http://camel.apache.org/schema/spring-security/camel-spring-security.xsd"
                      uri="xsd/fuse/camel-spring-security-2.10.0.fuse-71-047.xsd"/>


            </catalogContribution>
       </extension>

    </plugin>
    