<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution id="default">
      <uri
          name="http://activemq.apache.org/schema/spring"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/activemq-spring-5.11.0.redhat-620099.xsd" />
      <uri
          name="http://activemq.apache.org/schema/ra"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/activemq-ra-5.11.0.redhat-620099.xsd" />
      <uri
          name="http://camel.apache.org/schema/blueprint"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-blueprint-2.15.1.xsd" />
      <uri
          name="http://camel.apache.org/schema/blueprint/cxf"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-cxf-2.15.1-blueprint.xsd" />
      <uri
          name="http://camel.apache.org/schema/spring/cxf"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-cxf-2.15.1-spring.xsd" />
      <uri
          name="http://camel.apache.org/schema/spring"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-spring-2.15.1.xsd" />
      <uri
          name="http://camel.apache.org/schema/spring-integration"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-spring-integration-2.15.1.xsd" />
      <uri
          name="http://camel.apache.org/schema/spring-security"
          uri="platform:/plugin/org.fusesource.ide.catalogs/xsd/fuse/camel-spring-security-2.15.1.xsd" />
    </catalogContribution>
  </extension>
</plugin>
