<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.jboss.mapper.eclipse.wizards.NewTransformationWizard"
            icon="icons/transform16.png"
            id="org.jboss.tools.fuse.transformation.editor.data-mapping-wizard"
            name="%new-wizard.name">
         <description>
            %new-wizard.description
         </description>
      </wizard>
      <primaryWizard
            id="org.jboss.mapper.eclipse.data-mapping-wizard">
      </primaryWizard>
      <wizard
            class="org.jboss.mapper.eclipse.wizards.NewTransformationTestWizard"
            icon="icons/transform16.png"
            id="org.jboss.tools.fuse.transformation.editor.transformationtest.new"
            name="%new-test-wizard.name">
         <description>
            %new-test-wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.mapper.eclipse.DozerConfigContentTypeDescriber"
            file-extensions="xml"
            id="org.jboss.tools.fuse.transformation.editor.dozer-config-content-type"
            name="%dozer-content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.mapper.eclipse.TransformationEditor"
            default="false"
            extensions="xml"
            icon="icons/transform16.png"
            id="org.jboss.tools.fuse.transformation.editor.transformation-editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.fuse.transformation.editor.dozer-config-content-type">
         </contentTypeBinding>
      </editor>
   </extension>
</plugin>
