<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.tools.fuse.transformation.editor.function" name="%extension-point.name" schema="schema/org.jboss.tools.fuse.transformation.editor.function.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.jboss.tools.fuse.transformation.editor.wizards.NewTransformationWizard"
            icon="icons/transform16.png"
            category="org.fusesource.ide.newwizards"
            id="org.jboss.tools.fuse.transformation.editor.data-mapping-wizard"
            name="%new-wizard.name">
         <description>
            %new-wizard.description
         </description>
      </wizard>
      <wizard
            class="org.jboss.tools.fuse.transformation.editor.wizards.NewTransformationTestWizard"
            icon="icons/transform16.png"
            category="org.fusesource.ide.newwizards"
            id="org.jboss.tools.fuse.transformation.editor.transformationtest.new"
            name="%new-test-wizard.name">
         <description>
            %new-test-wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.tools.fuse.transformation.extensions.DozerConfigContentTypeDescriber"
            file-extensions="xml"
            id="org.jboss.tools.fuse.transformation.editor.dozer-config-content-type"
            name="%dozer-content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.fuse.transformation.editor.TransformationEditor"
            default="false"
            extensions="xml"
            icon="icons/transform16.png"
            id="org.jboss.tools.fuse.transformation.editor.transformation-editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.fuse.transformation.editor.dozer-config-content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.fusesource.ide.editor.paletteContributor">
      <PaletteContribution
            categoryName="TRANSFORMATION"
            class="org.jboss.tools.fuse.transformation.extensions.DataTransformationPaletteEntry"
            diagramImage="icons/transform.png"
            id="datatransformation"
            paletteIcon="icons/transform16.png">
      </PaletteContribution>
   </extension>
   <extension
         point="org.fusesource.ide.editor.dblClickHandler">
      <DoubleClickHandler
            class="org.jboss.tools.fuse.transformation.extensions.TransformationDblClickHandler">
      </DoubleClickHandler>
   </extension>
   <extension
         point="org.jboss.tools.fuse.transformation.editor.function">
      <Function
            class="org.jboss.tools.fuse.transformation.editor.transformations.StringFunctions">
      </Function>
      <Function
            class="org.jboss.tools.fuse.transformation.editor.transformations.BooleanFunctions">
      </Function>
      <Function
            class="org.jboss.tools.fuse.transformation.editor.transformations.NumericFunctions">
      </Function>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fusesource.ide.branding.preferences.root"
            class="org.jboss.tools.fuse.transformation.extensions.PreferencePage"
            id="org.jboss.tools.fuse.transformation.editor.page1"
            name="%preference-page.name">
      </page>
   </extension>
</plugin>
