<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.fusesource.ide.fabric.activemq.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.fabric.activemq.navigator.ActiveMQPreferenceInitializer">
      </initializer>
   </extension>
  
</plugin>
