<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%rider.deployment.category.description"
            id="org.fusesource.ide.deployment.category"
            name="%rider.deployment.category.name">
      </category>
      <command
            categoryId="org.fusesource.ide.deployment.category"
            description="%rider.deploy.command.description"
            id="org.fusesource.ide.deployment.command"
            name="%rider.deploy.command.name">
         <commandParameter
               id="org.fusesource.ide.deployment.commandParameter.config"
               name="%rider.comand.parameter.configuration"
               optional="true"
               typeId="org.fusesource.ide.deployment.commandParameterType"
               values="org.fusesource.ide.deployment.config.ConfigParameterValues">
         </commandParameter>
      </command>
      <commandParameterType
            converter="org.fusesource.ide.deployment.config.DeploymentConfigurationConverter"
            id="org.fusesource.ide.deployment.commandParameterType"
            type="org.fusesource.ide.deployment.config.AbstractDeploymentConfiguration">
      </commandParameterType>
      <command
            categoryId="org.fusesource.ide.deployment.category"
            description="%rider.deploy.edit.command.description"
            id="org.fusesource.ide.deployment.edit.command"
            name="%rider.deploy.edit.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.fusesource.ide.deployment.toolbar">
            <dynamic
                  class="org.fusesource.ide.deployment.DeploymentContributionItem"
                  id="org.fusesource.ide.deployment.dynamic">
            </dynamic>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.fusesource.ide.deployment.DeploymentExtensionFactory"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fusesource.ide.deployment.handler.DeploymentHandler"
            commandId="org.fusesource.ide.deployment.command">
      </handler>
      <handler
            class="org.fusesource.ide.deployment.handler.ConfigureDeploymentsHandler"
            commandId="org.fusesource.ide.deployment.edit.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fusesource.ide.branding.preferences.root"
            class="org.fusesource.ide.deployment.preferences.DeploymentPreferencePage"
            id="org.fusesource.ide.preferences.deployment.page"
            name="%rider.preferences.deployment.page.label">
      </page>
   </extension>
   
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.fusesource.ide.deployment.handler.ProvisionMavenLaunchDelegate"
            id="org.fusesource.ide.deployer"
            modes="run"
            name="%deployer.name"
            public="true"
            sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
            sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.deployer"
            icon="icons/run_camel_context.png"
            id="org.fusesource.ide.deployer.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.deployment.tabs.DeployLaunchConfigurationTabGroup"
            description="%tabgroup.camelContext.description"
            id="org.fusesource.ide.deployer.tabGroup"
            type="org.fusesource.ide.deployer">
      </launchConfigurationTabGroup>
   </extension>

   <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
               class=""
               adaptableType="org.eclipse.core.resources.IResource">
          <adapter
                type="org.eclipse.debug.ui.actions.ILaunchable">
          </adapter>
       </factory>
   </extension>
   
</plugin>
