<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.fusesource.ide"
            class="org.fusesource.ide.fabric8.ui.navigator.FabricNavigator"
            icon="icons/fabric8.png"
            id="org.fusesource.ide.fabric.navigator"
            name="Fabric8 Explorer"
            restorable="true">
         <description>
            Displays the Fabri8c outline view showing containers and their features and properties
         </description>
      </view>
      <view
            category="org.fusesource.ide"
            class="org.fusesource.ide.fabric8.ui.view.logs.LogsView"
            icon="icons/log_view.png"
            id="org.fusesource.ide.fabric.views.logs.LogsView"
            name="Log View">
         <description>
            Displays a table of log events from a Fabric8 instance
         </description>
      </view>
      <category
            id="org.fusesource.ide"
            name="JBoss Fuse">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.fusesource.ide.fabric.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.fusesource.ide.fabric.navigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.fusesource.ide.fabric.navigator.root">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="org.fusesource.ide.fabric.navigatorContent"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.fusesource.ide.fabric8.ui.navigator.FabricsContentProvider"
            icon="icons/fabric8.png"
            id="org.fusesource.ide.fabric.navigator.root"
            labelProvider="org.fusesource.ide.fabric8.ui.navigator.FabricsContentProvider"
            name="Fabric8 Content"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.ui.IViewPart">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.fusesource.ide.fabric8.ui.navigator.Fabric">
               </instanceof>
               <instanceof
                     value="org.fusesource.ide.fabric8.ui.navigator.FabricsContentProvider">
               </instanceof>
               <instanceof
                     value="org.fusesource.ide.fabric8.ui.navigator.FabricNavigator">
               </instanceof>
               <instanceof
                     value="org.fusesource.ide.fabric8.ui.navigator.FabricNodeSupport">
               </instanceof>
               
               <!-- JMX -->
            </or>
         </possibleChildren>
         <actionProvider
               class="org.fusesource.ide.fabric8.ui.FabricExplorerActionProvider"
               id="org.fusesource.ide.fabric.navigator.actionProvider">
               <enablement>
	            <or>
	               <adapt
	                     type="java.util.Collection">
	                  <count
	                        value="0">
	                  </count>
	               </adapt>
	               <instanceof
	                     value="org.fusesource.ide.commons.ui.ContextMenuProvider">
	               </instanceof>
	            </or>
	         </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

     <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.fusesource.ide.fabric8.ui.Startup">
      </startup>
   </extension>
     <extension
           point="org.eclipse.ui.perspectives">
        <perspective
              class="org.fusesource.ide.fabric8.ui.perspective.FabricPerspective"
              icon="icons/fabric8.png"
              id="org.fusesource.ide.fabric.perspective"
              name="Fabric8">
        </perspective>
     </extension>
     
   <!-- launch configs so we can kick off a build -->


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.PropertySheet">
         <command
               commandId="org.fusesource.ide.fabric.deleterequirement"
               icon="icons/delete.gif"
               id="fabric.delete.requirement"
               label="%profile.deleteRequirementsTitle"
               style="push"
               tooltip="%profile.deleteRequirementsText">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.fusesource.ide.fabric8.core.dto.ProfileStatusDTO">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%profile.deleteRequirementsText"
            id="org.fusesource.ide.fabric.deleterequirement"
            name="%profile.deleteRequirementsTitle">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fusesource.ide.fabric8.ui.actions.DeleteProfileRequirementAction"
            commandId="org.fusesource.ide.fabric.deleterequirement">
<!--
         <activeWhen>
            <with
                  variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.fusesource.ide.fabric.testers.requirementsNotEmpty">
                  </test>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.fusesource.ide.fabric8.core.dto.ProfileStatusDTO">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
-->
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.fusesource.ide.fabric.deleterequirement"
            icon="icons/delete.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.fusesource.ide.fabric8.ui.RequirementsPropertyTester"
            id="org.fusesource.ide.fabric.requirementsPropertyTester"
            namespace="org.fusesource.ide.fabric.testers"
            properties="requirementsNotEmpty"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
     
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.fusesource.ide.fabric.navigator">
         <propertyTab
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.ContainersTab"
               label="Containers"/>
         <propertyTab
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.FabricStatusTab"
               label="Status"/>
         <propertyTab
               afterTab="org.fusesource.ide.fabric8.ui.tabs.PropertiesTab"
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.ContainerProfilesTab"
               label="Profiles"/>
         <propertyTab
               afterTab="org.fusesource.ide.fabric8.ui.tabs.ContainerProfilesTab"
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.ContainerProfileDetailsTab"
               label="Profile Details"/>
         <propertyTab
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.ProfileDetailsTab"
               label="Details"/>
         <propertyTab
               afterTab="org.fusesource.ide.fabric8.ui.tabs.PropertiesTab"
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.ProfileRequirementsTab"
               label="Requirements"/>
         <propertyTab
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.NodesTab"
               label="Nodes">
         </propertyTab>
         <propertyTab
               category="org.fusesource.ide.fabric8.ui.category"
               id="org.fusesource.ide.fabric8.ui.tabs.VersionsTab"
               label="Versions">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.fusesource.ide.fabric.navigator">
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ContainersTabSection"
               id="ContainersSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ContainersTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ContainersNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ProfileContainersTabSection"
               id="ProfileContainersSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ContainersTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ProfileNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.FabricStatusTabSection"
               id="FabricStatusSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.FabricStatusTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.Fabric">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ProfileTreeTabSection"
               id="ContainerProfilesSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ContainerProfilesTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ContainerNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ProfilesTabSection"
               id="ContainerProfileDetailsSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ContainerProfileDetailsTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ContainerNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ProfileDetailsTabSection"
               id="ProfileDetailsSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ProfileDetailsTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ProfileNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.ProfileRequirementsTabSection"
               id="ProfileRequirementsSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.ProfileRequirementsTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.ProfileNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.cloud.NodeTabSection"
               id="NodesSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.NodesTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.cloud.CloudNode">
            </input>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.fabric8.ui.navigator.properties.VersionsTabSection"
               id="VersionsSection"
               tab="org.fusesource.ide.fabric8.ui.tabs.VersionsTab">
            <input
                  type="org.fusesource.ide.fabric8.ui.navigator.VersionsNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.fusesource.ide.fabric.navigator">
         <propertyCategory
               category="org.fusesource.ide.fabric8.ui.category">
         </propertyCategory>
      </propertyContributor>
   </extension>
</plugin>
