<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeFragment"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.60"
            typeIds="org.fusesource.ide.fuseesb.runtime.60">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeFragment"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.61"
            typeIds="org.fusesource.ide.fuseesb.runtime.61">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeFragment"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.62"
            typeIds="org.fusesource.ide.fuseesb.runtime.62">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeFragment"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.63"
            typeIds="org.fusesource.ide.fuseesb.runtime.63">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBRuntimeFragment"
            id="org.fusesource.ide.server.fuse.ui.runtime.fragment.70"
            typeIds="org.fusesource.ide.fuseesb.runtime.70">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.60"
            typeIds="org.fusesource.ide.fuseesb.server.60">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.61"
            typeIds="org.fusesource.ide.fuseesb.server.61">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.62"
            typeIds="org.fusesource.ide.fuseesb.server.62">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.63"
            typeIds="org.fusesource.ide.fuseesb.server.63">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fuse.ui.runtime.fuseesb.FuseESBServerWizardFragment"
            id="org.fusesource.ide.server.fuse.ui.server.fragment.70"
            typeIds="org.fusesource.ide.fuseesb.server.70">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.60"
            typeIds="org.fusesource.ide.fuseesb.server.60">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.61"
            typeIds="org.fusesource.ide.fuseesb.server.61">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.62"
            typeIds="org.fusesource.ide.fuseesb.server.62">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.63"
            typeIds="org.fusesource.ide.fuseesb.server.63">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.server.image.70"
            typeIds="org.fusesource.ide.fuseesb.server.70">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.60"
            typeIds="org.fusesource.ide.fuseesb.runtime.60">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.61"
            typeIds="org.fusesource.ide.fuseesb.runtime.61">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.62"
            typeIds="org.fusesource.ide.fuseesb.runtime.62">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.63"
            typeIds="org.fusesource.ide.fuseesb.runtime.63">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.fuseesb.ui.runtime.image.70"
            typeIds="org.fusesource.ide.fuseesb.runtime.70">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.fuse.ui.launch.tab"
            type="org.fusesource.ide.server.fuseesb.launch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.fuse6x.launch.tab"
            type="org.fusesource.ide.server.fuseesb6x.launch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.fuse7x.launch.tab"
            type="org.fusesource.ide.server.fuseesb7x.launch">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.fusesource.ide.server.fuse.ui.editor.FuseESBConnectionDetailsEditorSection"
            id="org.fusesource.ide.server.fuse.ui.connection.details"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.fusesource.ide.fuseesb.server.*">
      </section>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.fuseesb.launch"
            icon="icons/run_fuse_server.png"
            id="org.fusesource.ide.server.fuse.ui.launch.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.fuseesb6x.launch"
            icon="icons/run_fuse_server.png"
            id="org.fusesource.ide.server.fuse6x.ui.launch.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.fuseesb7x.launch"
            icon="icons/run_fuse_server.png"
            id="org.fusesource.ide.server.fuse7x.ui.launch.image">
      </launchConfigurationTypeImage>
   </extension>
   
</plugin>
