<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BacklogTracerMessage -->
      <package
            uri="http://camel.com/backlogtracemessage"
            class="BacklogTracerMessage.BacklogTracerMessagePackage"
            genModel="models/BacklogTracerMessage.genmodel"/>
   </extension>

</plugin>
