<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse Core Target" sequenceNumber="5">
<locations>
<location path="${workspace_loc:/org.fusesource.ide.updatesite/target/site/}" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.feature.group" version="3.7.2.v20120213-BDF9E9bGTzuHh03p2c0AWvmC3Ltk"/>
<unit id="org.eclipse.birt.chart.cshelp.feature.group" version="3.7.2.v20120213-4617w31231324"/>
<unit id="org.eclipse.birt.cshelp.feature.group" version="3.7.2.v20120213-4617w31231324"/>
<unit id="org.eclipse.birt.doc.feature.group" version="3.7.2.v20120213-4617w31231324"/>
<unit id="org.eclipse.birt.example.feature.group" version="3.7.2.v20120213-7M7l7DDZRDKRDRKY"/>
<unit id="org.eclipse.birt.source.feature.group" version="3.7.2.v20120213-BDF9E9bGTzuHh03p2c0AWvmC3Ltk"/>
<unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="3.7.2.v20120213-777D386vH9DhL7e9QKLh0vkCyimU"/>
<unit id="org.eclipse.team.svn.revision.graph.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.team.svn.mylyn.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.0.200.20111228-1245"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.0.200.20111228-1245"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.7.2.v20110928-2020-7G7Y3BgJ9EBCXDS4J9S9"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.2.v20110927-2020-7G7W77A5WNgIRPdWXDIbNTSQPdQL"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.3.0.v20110425-2050-67C18COMPIAKSVKGQaRTQTiSN8WP"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.3.2.v201111030500-7b7II1YFSK2WIuPRDEnExPV-RvTn"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.3.2.v201112072049-7F7AFO7C25ToiIbpoiuW12GT78Mciy6W7iwuxaco"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.2.v20111010_1242-777HFHzCcNBDjCbIUfEEE3"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHr9xFcAVCFLZBBJLIR43A"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.3.0.v201102200555-377DF8s73543E5I5768"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.2.v201112072049-7H7EFZ7DxumTmce4khcSkIiqoD8eDMKlT8Oz011P"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.3.2.v201201121600-377DH8s735735535DD9"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.2.v201111030500-7O7IFj6EMjB7yO1Xs_G1kMtQeOye6HTXFWve95_R"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.1.v201109012200-7T7YFRTFIqUoIrvbEtBlSIJXGZNg"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<unit id="org.eclipse.pde.feature.group" version="3.7.2.v20120120-1420-7b7rFUOFEx2Xnqafnpz0E--0"/>
<unit id="org.eclipse.pde.api.tools.ee.fragments.feature.group" version="1.0.200.r37x_v20110803-7D-FHkFAFkNZZO9PfBZStN"/>
<unit id="org.eclipse.platform.feature.group" version="3.7.2.v20120207-1839-9gF7UHPDFxGjd-PqDr2jX_4yKaumkoHTz04_q-q"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.1.2.201202130952"/>
<unit id="org.eclipse.tm.terminal.sdk.feature.group" version="3.2.1.R33x_v201106281309-7N7B1BbVJv-SaPEOkhsVVd_C3752"/>
<unit id="org.eclipse.net4j.feature.group" version="4.0.0.v20111210-0952"/>
<unit id="org.eclipse.epp.usagedata.feature.feature.group" version="1.4.0.R201106061540"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.server_adapters.ext.sdk.feature.feature.group" version="3.3.2.v20111010_1242-775384CALJM0Gfz-FIqHdSdpYWZ3DdOCEkDcJVgF"/>
<unit id="org.eclipse.jst.server_adapters.sdk.feature.feature.group" version="3.3.1.v20110729_1216-773A78-5BcBz-948367Ck8x4232252A"/>
<unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84F9JLuF0IfIcKHVlKTdDVPMiNWDGM_CCKMJ"/>
<unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.100.v20110303-773A7826HsEnLADiGLTHplG88h9ICTd"/>
<repository location="http://download.eclipse.org/webtools/repository/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.drools.eclipse.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.guvnor.tools.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.jbpm.eclipse.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.jbpm.eclipse.task.feature.feature.group" version="5.5.0.Beta1"/>
<repository location="http://download.jboss.org/drools/release/5.5.0.Beta1/org.drools.updatesite/"/>
</location>
</locations>
</target>
