<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.fusesource.ide.editor.paletteContributor" name="%extension-point.name" schema="schema/org.fusesource.ide.editor.paletteContributor.exsd"/>
   <extension-point id="org.fusesource.ide.editor.dblClickHandler" name="%extension-point.name.0" schema="schema/org.fusesource.ide.editor.dblClickHandler.exsd"/>
   <extension-point id="org.fusesource.ide.editor.globalConfigContributor" name="%extension-point.name.1" schema="schema/org.fusesource.ide.editor.globalConfigContributor.exsd"/>

   <!-- definition for the camel editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fusesource.ide.camel.editor.CamelEditor"
            default="false"
            extensions="xml"
            icon="icons/editor/camel_project_16x16.png"
            id="org.fusesource.ide.camel.editor"
            matchingStrategy="org.fusesource.ide.camel.editor.utils.CamelEditorMatchingStrategy"
            name="%integration.editor.label">
         <contentTypeBinding
               contentTypeId="org.fusesource.ide.camel.editor.camelContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <!--
   contributorClass="org.fusesource.ide.camel.editor.editor.RiderEditorActionBarContributor"
   -->
   
   <!-- definition for the camel xml content type -->
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.fusesource.ide.foundation.core.xml.namespace.CamelNamespaceXmlContentDescriber"
            file-extensions="xml"
            id="org.fusesource.ide.camel.editor.camelContentType"
            name="%content-type.name"
            priority="high">
      </content-type> 
   </extension>
   
   <!-- Graphiti related definitions -->
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="%integration.editor.diagram.type.description"
            id="org.fusesource.ide.camel.editor.diagramtype.id"
            name="%integration.editor.diagram.type.name"
            type="CamelContext">
      </diagramType>
   </extension>

   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.fusesource.ide.camel.editor.provider.ImageProvider"
            id="org.fusesource.ide.camel.editor.imageprovider.id">
      </imageProvider>
   </extension>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.fusesource.ide.camel.editor.provider.DiagramTypeProvider"
            description="%integration.editor.dtp.description"
            id="org.fusesource.ide.camel.editor.dtp.id"
            name="%integration.editor.dtp.name">
         <diagramType
               id="org.fusesource.ide.camel.editor.diagramtype.id">
         </diagramType>
         <imageProvider
               id="org.fusesource.ide.camel.editor.imageprovider.id">
         </imageProvider>
      </diagramTypeProvider>
   </extension>

   <!-- definitions for the properties view -->   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="org.fusesource.ide.camel.editor" typeMapper="org.fusesource.ide.camel.editor.properties.CamelTypeMapper">
         <propertyCategory category="FuseTooling"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.fusesource.ide.camel.editor">
	     <propertyTab
               category="FuseTooling"
               id="DefaultCamelPropertiesTab"
               indented="false"
               label="%integration.properties.tab.generic.title"/>
         <propertyTab
               afterTab="GenericPropertiesTab"
               category="FuseTooling"
               id="AdvancedEndpointPropertiesTab"
               indented="false"
               label="%integration.properties.tab.advanced.title">
         </propertyTab>
         <propertyTab
               afterTab="DefaultCamelPropertiesTab"
               category="FuseTooling"
               id="AdvancedBeanPropertiesTab"
               indented="false"
               label="Bean"/> 
         <propertyTab
               afterTab="DefaultCamelPropertiesTab"
               category="FuseTooling"
               id="AdvancedRestPropertiesTab"
               indented="false"
               label="REST"/> 
         <propertyTab
               afterTab="AdvancedRestPropertiesTab"
               category="FuseTooling"
               id="AdvancedRestVerbPropertiesTab"
               indented="false"
               label="REST Operation"/> 
         <propertyTab
               afterTab="DefaultCamelPropertiesTab"
               category="FuseTooling"
               id="DocumentationTab"
               indented="false"
               label="%integration.properties.tab.documentation.title"/> 
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.fusesource.ide.camel.editor">
         <propertySection
               class="org.fusesource.ide.camel.editor.properties.DetailsSection"
               id="org.fusesource.ide.camel.editor.propertysheet.DetailsSection"
               tab="DefaultCamelPropertiesTab">
            <input type="org.fusesource.ide.camel.model.service.core.model.IFuseDetailsPropertyContributor"/>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.camel.editor.properties.AdvancedEndpointPropertiesSection"
               filter="org.fusesource.ide.camel.editor.properties.AdvancedPropertiesFilter"
               id="AdvancedEndpointPropertiesSection"
               tab="AdvancedEndpointPropertiesTab">
         </propertySection>
         <propertySection
               class="org.fusesource.ide.camel.editor.properties.AdvancedBeanPropertiesSection"
               filter="org.fusesource.ide.camel.editor.properties.BeanPropertiesFilter"
               id="AdvancedBeanPropertiesSection"
               tab="AdvancedBeanPropertiesTab">
            <input type="org.fusesource.ide.camel.model.service.core.model.CamelBean"/>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.camel.editor.properties.rest.RestElementPropertiesSection"
               filter="org.fusesource.ide.camel.editor.properties.rest.RestPropertiesFilter"
               id="AdvancedRestPropertiesSection"
               tab="AdvancedRestPropertiesTab">
            <input type="org.fusesource.ide.camel.model.service.core.model.RestElement"/>
         </propertySection>
         <propertySection
               class="org.fusesource.ide.camel.editor.properties.rest.RestVerbElementPropertiesSection"
               filter="org.fusesource.ide.camel.editor.properties.rest.RestVerbPropertiesFilter"
               id="AdvancedRestVerbPropertiesSection"
               tab="AdvancedRestVerbPropertiesTab">
            <input type="org.fusesource.ide.camel.model.service.core.model.RestVerbElement"/>
         </propertySection>
         <propertySection
               afterSection="DefaultEndpointPropertiesSection"
               class="org.fusesource.ide.camel.editor.properties.DocumentationSection"
               id="DocumentationSection"
               tab="DocumentationTab">
            <input type="org.fusesource.ide.camel.model.service.core.model.AbstractCamelModelElement"/>
         </propertySection>
      </propertySections>
   </extension>   
   
   <!-- definitions for extra palette entries -->
   <extension
         point="org.fusesource.ide.editor.paletteContributor">
      <PaletteContribution
            categoryName="COMPONENTS"
            class="org.fusesource.ide.camel.editor.provider.ActiveMQPaletteEntry"
            dependenciesManager="org.fusesource.ide.camel.editor.provider.ActiveMQPaletteEntryDependenciesManager"
            diagramImage="icons/activemq.png"
            id="activemq"
            paletteIcon="icons/activemq.png">
      </PaletteContribution>
      <PaletteContribution
            categoryName="COMPONENTS"
            class="org.fusesource.ide.camel.editor.genericEndpoint.GenericEndpointPaletteEntry"
            diagramImage="icons/endpoint.png"
            id="genericEndpoint"
            paletteIcon="icons/endpoint.png">
      </PaletteContribution>
   </extension>

   <!-- definitions for editor commands -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.fusesource.ide.camel.editor.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="org.fusesource.ide.camel.editor.commands.category"
            id="org.fusesource.ide.camel.editor.commands.autoLayoutCommand"
            name="%command.name">
      </command>
      <command
            categoryId="org.fusesource.ide.camel.editor.commands.category"
            defaultHandler="org.fusesource.ide.camel.editor.commands.ShowPropertiesViewHandler"
            id="org.fusesource.ide.camel.editor.commands.ShowPropertiesView"
            name="%command.name.0">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fusesource.ide.camel.editor.handler.AutoLayoutHandler"
            commandId="org.fusesource.ide.camel.editor.commands.autoLayoutCommand">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.fusesource.ide.camel.editor.commands.autoLayoutCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
   </extension>

   <!-- definitions for editor specific preference pages -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fusesource.ide.branding.preferences.root"
            class="org.fusesource.ide.camel.editor.preferences.CamelEditorPreferencePage"
            id="org.fusesource.ide.camel.editor.preferences.FusePreferencePage"
            name="%integration.preferences.editor">
      </page>
<!--      
      <page
            category="org.fusesource.ide.branding.preferences.root"
            class="org.fusesource.ide.camel.editor.preferences.CamelEditorColorPreferencePage"
            id="org.fusesource.ide.camel.editor.preferences.FuseColorPreferencePage"
            name="%integration.preferences.editor.colors">
      </page>
-->
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.fusesource.ide.camel.editor.preferences.CamelEditorPreferencePage"
            id="org.fusesource.ide.camel.editor.propertyPage"
            name="%page.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.graphiti.ui.internal.parts.DiagramEditPart">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

   <!-- definition for showing routes in context as subnodes of the camel file -->   
   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
           activeByDefault="true"
           contentProvider="org.fusesource.ide.camel.editor.navigator.CamelCtxNavContentProvider"
           icon="icons/editor/camel_project_16x16.png"
           id="org.fusesource.ide.camel.editor.navigator.CamelContextRouteContent"
           labelProvider="org.fusesource.ide.camel.editor.navigator.CamelCtxNavLabelProvider"
           name="%navigatorContent.name"
           priority="normal">
        <enablement>
          <or>
           <and>
              <instanceof value="org.eclipse.core.resources.IFile"/>
		   <test 
				forcePluginActivation="true" 
				property="org.eclipse.core.resources.contentTypeId" 
				value="org.fusesource.ide.camel.editor.camelContentType"/> 
           </and>
           <instanceof
                value="org.fusesource.ide.camel.editor.navigator.CamelCtxNavRouteNode"/>
         </or>
        </enablement>
        <actionProvider
	          class="org.fusesource.ide.camel.editor.navigator.CamelCtxNavActionProvider"
    	      id="org.fusesource.ide.camel.editor.navigator.CamelContextActionProvider"
        	  overrides="org.eclipse.ui.navigator.resources.OpenActions">
       		<enablement>
	          <instanceof
	                value="org.fusesource.ide.camel.editor.navigator.CamelCtxNavRouteNode"/>
	       </enablement>
	     </actionProvider>
       </navigatorContent>         
	</extension>

	<extension
	      point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension isRoot="false"
					pattern="org.fusesource.ide.camel.editor.navigator.CamelContextRouteContent" />
			</includes>
		</viewerContentBinding>
	</extension>
   
   <!-- help definition ... TODO: check if that is really needed -->
   <extension
         point="org.eclipse.help.contexts">
         <contexts
               file="contexts.xml"
               plugin="org.eclipse.ui.views">
         </contexts>
   </extension>
   
   <!-- defining global configuration categories -->
   <extension
         point="org.fusesource.ide.editor.globalConfigContributor">
      <GlobalConfigCategory
            icon="icons/editor/fuse_icon_16c.png"
            id="org.fusesource.ide.camel.editor.globalconfig.FUSE_CATEGORY"
            name="Red Hat Fuse">
      </GlobalConfigCategory>
      <GlobalConfigCategory
            icon="icons/editor/add.png"
            id="org.fusesource.ide.camel.editor.globalconfig.DEFAULT_CATEGORY"
            name="Uncategorized">
      </GlobalConfigCategory>
      <GlobalConfigElement
            category="org.fusesource.ide.camel.editor.globalconfig.FUSE_CATEGORY"
            class="org.fusesource.ide.camel.editor.globalconfiguration.endpoint.provider.GlobalEndpointContributor"
            icon="icons/endpointdef16.png"
            id="org.fusesource.ide.camel.editor.provider.globalconfigprovider.globalendpoint"
            name="Endpoint">
      </GlobalConfigElement>
      <GlobalConfigElement
            category="org.fusesource.ide.camel.editor.globalconfig.FUSE_CATEGORY"
            class="org.fusesource.ide.camel.editor.globalconfiguration.dataformat.provider.DataFormatContributor"
            icon="icons/dataformat.png"
            id="org.fusesource.ide.camel.editor.provider.globalconfigprovider.dataformat"
            name="Data Format">
      </GlobalConfigElement>
      <GlobalConfigElement
            category="org.fusesource.ide.camel.editor.globalconfig.FUSE_CATEGORY"
            class="org.fusesource.ide.camel.editor.globalconfiguration.beans.provider.GlobalBeanContributor"
            icon="icons/bean16.png"
            id="org.fusesource.ide.camel.editor.provider.globalconfigprovider.globalbean"
            name="Bean">
      </GlobalConfigElement>
   </extension>
   <extension
         point="org.fusesource.ide.editor.dblClickHandler">
      <DoubleClickHandler
            class="org.fusesource.ide.camel.editor.handler.RouteDblClickHandler">
      </DoubleClickHandler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.fusesource.ide.camel.editor">
         <command
               commandId="org.fusesource.ide.camel.editor.commands.ShowPropertiesView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
