<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.fusesource.ide.projecttemplates.templates" name="%extension-point.name" schema="schema/org.fusesource.ide.projecttemplates.templates.exsd"/>
	<extension
         point="org.eclipse.ui.newWizards">
      
      <category
            name="%jboss.fuse.category.label"
            id="org.fusesource.ide.newwizards">
      </category>
      
      <wizard id="org.fusesource.ide.branding.wizards.FuseProjectWizard"
            category="org.fusesource.ide.newwizards"
            class="org.fusesource.ide.projecttemplates.wizards.FuseIntegrationProjectWizard"
            icon="icons/camel_project_16x16.png"
            name="%project.wizard.name"
            project="true">
         <description>%project.wizard.description</description>
         <keywordReference
               id="org.eclipse.jdt.ui.wizards.java">
         </keywordReference>
      </wizard>
     
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         
      <commonWizard
            menuGroupId="org.eclipse.jdt.ui.java"
            type="new"
            wizardId="org.fusesource.ide.branding.wizards.FuseProjectWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaElement">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enablement>
      </commonWizard>
   </extension>
   
 <extension
       point="org.fusesource.ide.projecttemplates.templates">
    <projectTemplateCategory
          id="fuse.projecttemplates.jbossfuse.simple"
          name="%template.category.jbossfuse.simple"
          weight="0">
    </projectTemplateCategory>
    <projectTemplateCategory
          id="fuse.projecttemplates.jbossfuse.advanced"
          name="%template.category.jbossfuse.advanced"
          weight="1">
    </projectTemplateCategory>
    <projectTemplateCategory
          id="fuse.projecttemplates.jbossfuse.expert"
          name="%template.category.jbossfuse.expert"
          weight="2">
    </projectTemplateCategory>
      <projectTemplate
          category="fuse.projecttemplates.jbossfuse.simple"
          class="org.fusesource.ide.projecttemplates.impl.simple.CBRTemplateForFuse71"
          description="%template.simple.cbr.description"
          id="org.fusesource.ide.projecttemplates.cbrTemplateSimplev71"
          keywords="fuse cbr content based router"
          name="%template.simple.cbr.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.simple"
          class="org.fusesource.ide.projecttemplates.impl.simple.CBRTemplateForFuse7"
          description="%template.simple.cbr.description"
          id="org.fusesource.ide.projecttemplates.cbrTemplateSimplev7"
          keywords="fuse cbr content based router"
          name="%template.simple.cbr.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.simple"
          class="org.fusesource.ide.projecttemplates.impl.simple.CBRTemplateForFuse6"
          description="%template.simple.cbr.description"
          id="org.fusesource.ide.projecttemplates.cbrTemplateSimplev6"
          keywords="fuse cbr content based router"
          name="%template.simple.cbr.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.simple"
          class="org.fusesource.ide.projecttemplates.impl.simple.AMQTemplate"
          description="%template.simple.amq.description"
          id="org.fusesource.ide.projecttemplates.amqTemplateSimple"
          keywords="fuse amq activemq queue jms message cbr content based router"
          name="%template.simple.amq.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.EAPSpringTemplateForFuse6"
          description="%template.medium.eapspring.description"
          id="org.fusesource.ide.projecttemplates.eapSpringTemplateMediumv6"
          keywords="eap camel spring bean"
          name="%template.medium.eapspring.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.EAPSpringTemplateForFuse7"
          description="%template.medium.eapspring.description"
          id="org.fusesource.ide.projecttemplates.eapSpringTemplateMediumv7"
          keywords="eap camel spring bean"
          name="%template.medium.eapspring.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.EAPSpringTemplateForFuse71"
          description="%template.medium.eapspring.description"
          id="org.fusesource.ide.projecttemplates.eapSpringTemplateMediumv71"
          keywords="eap camel spring bean"
          name="%template.medium.eapspring.name"
          weight="0">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.OSESpringBootXMLTemplateForFuse6"
          description="%template.simple.osespringboot.xml.description"
          id="org.fusesource.ide.projecttemplates.oseSpringBootv6"
          keywords="ose openshift springboot"
          name="%template.simple.osespringboot.xml.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.OSESpringBootXMLTemplateForFuse7"
          description="%template.simple.osespringboot.xml.description"
          id="org.fusesource.ide.projecttemplates.oseSpringBootv7"
          keywords="ose openshift springboot"
          name="%template.simple.osespringboot.xml.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          class="org.fusesource.ide.projecttemplates.impl.simple.OSESpringBootXMLTemplateForFuse71"
          description="%template.simple.osespringboot.xml.description"
          id="org.fusesource.ide.projecttemplates.oseSpringBootv71"
          keywords="ose openshift springboot"
          name="%template.simple.osespringboot.xml.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.advanced"
          class="org.fusesource.ide.projecttemplates.impl.medium.CXfCodeFirstProjectTemplateForFuse6"
          description="%template.medium.cxf.code.first.description"
          id="org.fusesource.ide.projecttemplates.cxfCodeFirstMediumv6"
          keywords="cxf"
          name="%template.medium.cxf.code.first.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.advanced"
          class="org.fusesource.ide.projecttemplates.impl.medium.CXfCodeFirstProjectTemplateForFuse7"
          description="%template.medium.cxf.code.first.description"
          id="org.fusesource.ide.projecttemplates.cxfCodeFirstMediumv7"
          keywords="cxf"
          name="%template.medium.cxf.code.first.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.jbossfuse.advanced"
          class="org.fusesource.ide.projecttemplates.impl.medium.CXfCodeFirstProjectTemplateForFuse71"
          description="%template.medium.cxf.code.first.description"
          id="org.fusesource.ide.projecttemplates.cxfCodeFirstMediumv71"
          keywords="cxf"
          name="%template.medium.cxf.code.first.name"
          weight="50">
    </projectTemplate>
    <projectTemplateCategory
          id="fuse.projecttemplates.EMPTY_CATEGORY"
          name="%template.category.empty"
          weight="50">
    </projectTemplateCategory>
    <projectTemplate
          category="fuse.projecttemplates.EMPTY_CATEGORY"
          class="org.fusesource.ide.projecttemplates.impl.simple.EmptyProjectTemplateForFuse6"
          description="%template.empty.description"
          id="org.fusesource.ide.projecttemplates.emptyv6"
          name="%template.empty.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.EMPTY_CATEGORY"
          class="org.fusesource.ide.projecttemplates.impl.simple.EmptyProjectTemplateForFuse7"
          description="%template.empty.description"
          id="org.fusesource.ide.projecttemplates.emptyv7"
          name="%template.empty.name"
          weight="50">
    </projectTemplate>
    <projectTemplate
          category="fuse.projecttemplates.EMPTY_CATEGORY"
          class="org.fusesource.ide.projecttemplates.impl.simple.EmptyProjectTemplateForFuse71"
          description="%template.empty.description"
          id="org.fusesource.ide.projecttemplates.emptyv71"
          name="%template.empty.name"
          weight="50">
    </projectTemplate>
 </extension>
 
 <!-- Maven configurator  -->
 <extension point="org.eclipse.m2e.core.projectConfigurators">
   	<configurator 
       	id="org.fusesource.ide.projecttemplates.camel.maven.configurator.wtp"
       	class="org.fusesource.ide.projecttemplates.maven.CamelProjectConfigurator"
       	name="%configurator.name" 
       	runsAfter="org.eclipse.m2e.jdt.javaConfigurator,org.maven.ide.eclipse.configuration.wtp.configurator?"/>
 </extension>

 <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
 </extension>
 
 <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image facet="jst.camel"
           path="icons/camel_project_16x16.png">
    </image>
 </extension>
 
  	<!-- Camel Project -->
    <extension point="org.eclipse.wst.common.project.facet.core.facets">
    	
    	<project-facet id="jst.camel">
         	<label>Camel</label>
         	<description>
             	Adds support for Camel to the project.
         	</description>
          <version-comparator
                class="org.fusesource.ide.projecttemplates.util.camel.CamelFacetVersionComparator">
          </version-comparator>
      	</project-facet>
      
      	<project-facet-version
            facet="jst.camel"
            version="3.0">
        	
        	<constraint>
            	<and>
               		<requires
                    	facet="jst.java"
                     	version="[1.6">
               		</requires>
                 <requires
                       facet="jboss.m2"
                       version="[1.0">
                 </requires>
               		<or>
	               		<requires 
	               			facet="jst.utility"
	               			version="1.0">
	               		</requires>
	               		<requires 
	               			facet="jst.web"
	               			version="[1.0">
	               		</requires>
	            	</or>
            	</and>
         	</constraint>
      	</project-facet-version>
      	

	  	<action
        	facet="jst.camel"
            id="jst.camel.install"
            type="install">
         	<delegate class="org.fusesource.ide.projecttemplates.util.camel.CamelFacetInstallationDelegate"/>
			<config-factory class="org.fusesource.ide.projecttemplates.util.camel.CamelFacetDataModelProvider"/>
		</action>
		<action
        	facet="jst.camel"
        	id="jst.camel.version.change"
        	type="version-change">
     		<delegate class="org.fusesource.ide.projecttemplates.util.camel.CamelFacetVersionChangeDelegate"/>
		</action>
  <action
        facet="jst.camel"
        id="jst.camel.uninstall"
        type="uninstall">
     <delegate
           class="org.fusesource.ide.projecttemplates.util.camel.CamelFacetUninstallationDelegate">
     </delegate>
  </action>
   	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
            id="org.fusesource.ide.projecttemplates.modifycamelversion"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.fusesource.ide.projecttemplates.actions.SwitchCamelVersionAction"
               icon="icons/camel_project_16x16.png"
               id="org.fusesource.ide.projecttemplates.switchcamelversion"
               label="%project.popup.modifycamelversion.name"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.fusesource.ide.project.RiderProjectNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
