<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafRuntimeWizardFragment2x"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.2x"
            typeIds="org.fusesource.ide.server.karaf.runtime.2x">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafServerWizardFragment2x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.2x"
            typeIds="org.fusesource.ide.server.karaf.2x">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.smx4x.ServiceMixRuntimeWizardFragment4x"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.smx4x"
            typeIds="org.fusesource.ide.server.smx.runtime.4x">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.smx4x.ServiceMixServerWizardFragment4x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.smx4x"
            typeIds="org.fusesource.ide.server.smx.4x">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.fuseesb7x.FuseESBRuntimeWizardFragment7x"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.fuseesb7x"
            typeIds="org.fusesource.ide.server.fuseesb.runtime.7x">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.fuseesb7x.FuseESBServerWizardFragment7x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.fuseesb7x"
            typeIds="org.fusesource.ide.server.fuseesb.7x">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.server.image"
            typeIds="org.fusesource.ide.server.karaf.2x,org.fusesource.ide.server.smx.4x,org.fusesource.ide.server.fuseesb.7x">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.runtime.image"
            typeIds="org.fusesource.ide.server.karaf.runtime.2x,org.fusesource.ide.server.smx.runtime.4x,org.fusesource.ide.server.fuseesb.runtime.7x">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.sa.image"
            typeIds="jbi.sa">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.sa.image"
            typeIds="module.fuse.osgi">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.karaf.ui.launch.tab"
            type="org.fusesource.ide.server.karaf.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.fusesource.ide.server.karaf.ui.editor.ConnectionDetailsEditorSection"
            id="org.fusesource.ide.server.karaf.ui.connection.details"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.fusesource.ide.server.karaf.*,org.fusesource.ide.server.smx.*,org.fusesource.ide.server.fuseesb.*">
      </section>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.karaf.launch"
            icon="icons/run_fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.launch.image">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
