<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafRuntimeFragment"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.22"
            typeIds="org.fusesource.ide.karaf.runtime.22">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafRuntimeFragment"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.23"
            typeIds="org.fusesource.ide.karaf.runtime.23">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafRuntimeFragment"
            id="org.fusesource.ide.server.karaf.ui.runtime.fragment.30"
            typeIds="org.fusesource.ide.karaf.runtime.30">
      </fragment>

      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafServerWizardFragment2x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.22"
            typeIds="org.fusesource.ide.karaf.server.22">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafServerWizardFragment2x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.23"
            typeIds="org.fusesource.ide.karaf.server.23">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.karaf.ui.runtime.v2x.KarafServerWizardFragment2x"
            id="org.fusesource.ide.server.karaf.ui.server.fragment.30"
            typeIds="org.fusesource.ide.karaf.server.30">
      </fragment>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.server.image.22"
            typeIds="org.fusesource.ide.karaf.server.22">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.server.image.23"
            typeIds="org.fusesource.ide.karaf.server.23">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.server.image.30"
            typeIds="org.fusesource.ide.karaf.server.30">
      </image>

      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.runtime.image.22"
            typeIds="org.fusesource.ide.karaf.runtime.22">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.runtime.image.23"
            typeIds="org.fusesource.ide.karaf.runtime.23">
      </image>
      <image
            icon="icons/fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.runtime.image.30"
            typeIds="org.fusesource.ide.karaf.runtime.30">
      </image>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.karaf.ui.launch.tab"
            type="org.fusesource.ide.server.karaf.launch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.karaf2x.launch.tab"
            type="org.fusesource.ide.server.karaf2x.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.fusesource.ide.server.karaf.ui.editor.ConnectionDetailsEditorSection"
            id="org.fusesource.ide.server.karaf.ui.connection.details"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.fusesource.ide.karaf.server.*">
      </section>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.karaf.launch"
            icon="icons/run_fuse_server.png"
            id="org.fusesource.ide.server.karaf.ui.launch.image">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
