<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.fusesource.ide.launcher.run.launching.CamelRunMavenLaunchDelegate"
            id="org.fusesource.ide.launcher.camelContext"
            modes="run,debug"
            name="%launcher.camelcontext.name"
            public="true"
            sourceLocatorId="org.fusesource.ide.launcher.debug.sourceLookupDirector.camel"
            sourcePathComputerId="org.fusesource.ide.launcher.debug.sourcePathComputer.camel">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%sourceLocator.name"
            class="org.fusesource.ide.launcher.debug.launching.CamelSourceLookupDirector"
            id="org.fusesource.ide.launcher.debug.sourceLookupDirector.camel">
      </sourceLocator>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.fusesource.ide.launcher.debug.launching.CamelSourcePathComputerDelegate"
            id="org.fusesource.ide.launcher.debug.sourcePathComputer.camel">
      </sourcePathComputer>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.fusesource.ide.launcher.debug.model.CamelEndpointBreakpoint"
            id="org.fusesource.ide.launcher.debug.camel.endpointBreakpoint"
            markerType="org.fusesource.ide.launcher.debug.camel.breakpoint.marker"
            name="%breakpoint.name">
      </breakpoint>
      <breakpoint
            class="org.fusesource.ide.launcher.debug.model.CamelConditionalBreakpoint"
            id="org.fusesource.ide.launcher.debug.camel.conditionalEndpointBreakpoint"
            markerType="org.fusesource.ide.launcher.debug.camel.conditionalbreakpoint.marker"
            name="%breakpoint.name.0">
      </breakpoint>
   </extension>
   
   <extension
         id="org.fusesource.ide.launcher.debug.camel.breakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.fusesource.ide.launcher.debug.camel"
            delegateClass="org.fusesource.ide.launcher.debug.model.WatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         id="org.fusesource.ide.launcher.debug.camel.conditionalbreakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
</plugin>
