<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fusesource.ide.jmx.karaf.KarafPreferenceInitializer">
      </initializer>
   </extension>

   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="org.fusesource.ide.osgi.jmx.content"
             name="OSGi Bundles"
             activeByDefault="true"
             icon="icons/bundle.png"
             priority="normal"
             contentProvider="org.fusesource.ide.jmx.karaf.jmx.content.navigator.providers.BundlesNodeContentProvider"
             labelProvider="org.fusesource.ide.jmx.karaf.jmx.content.navigator.providers.BundlesNodeLabelProvider">
          <triggerPoints>
             <instanceof
                   value="org.jboss.tools.jmx.core.IConnectionWrapper">
             </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
              </or>
          </possibleChildren>
       </navigatorContent>
	</extension>

	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.osgi.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerContentBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.osgi.jmx.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
	</extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertyTab
               category="org.jboss.tools.jmx.ui.views"
               id="org.fusesource.ide.jmx.ui.views.BundlesTab"
               label="Bundles"/>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <propertySection
               class="org.fusesource.ide.jmx.karaf.navigator.osgi.BundlesTabSection"
               id="BundlesSection"
               tab="org.fusesource.ide.jmx.ui.views.BundlesTab">
            <input
                  type="org.fusesource.ide.jmx.karaf.navigator.osgi.BundlesNode">
            </input>
         </propertySection>
      </propertySections>
</extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.wst.server.ui.ServersView">
         <propertySection
               class="org.fusesource.ide.jmx.karaf.navigator.osgi.BundlesTabSection"
               id="BundlesSection"
               tab="org.fusesource.ide.jmx.ui.views.BundlesTab">
            <input
                  type="org.fusesource.ide.jmx.karaf.navigator.osgi.BundlesNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
  <extension
        point="org.jboss.tools.jmx.core.MBeanServerConnectionProvider">
     <connectionProvider
           class="org.fusesource.ide.jmx.karaf.connection.KarafConnectionProvider">
     </connectionProvider>
  </extension>
  <extension
        point="org.jboss.tools.jmx.ui.providerUI">
     <providerUI
           editable="false"
           icon="icons/bundle.png"
           id="org.fusesource.ide.jmx.karaf.connection.KarafConnectionProvider"
           name="Karaf-based server">
        <connectionLabelProvider
              class="org.fusesource.ide.jmx.karaf.connection.ui.KarafJMXLabelProvider">
        </connectionLabelProvider>
     </providerUI>
  </extension>
  <extension
         point="org.jboss.tools.jmx.local.jvmConnectionLabelProvider">
      <labelProvider
            class="org.fusesource.ide.jmx.karaf.connection.ui.AutodetectedKarafLabelProvider"
            weight="5">
      </labelProvider>
   </extension>
</plugin>
