<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         
      <launchConfigurationType
            delegate="org.fusesource.ide.launcher.CamelRunMavenLaunchDelegate"
            id="org.fusesource.ide.launcher.camelContext"
            modes="run,debug"
            name="%launcher.camelcontext.name"
            public="true"
            sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
            sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
      </launchConfigurationType>
      
      <launchConfigurationType
            delegate="org.fusesource.ide.launcher.CamelRunNoTestsMavenLaunchDelegate"
            id="org.fusesource.ide.launcher.camelContextNoTests"
            modes="run,debug"
            name="%launcher.camelcontext.notests.name"
            public="true"
            sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
            sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
      </launchConfigurationType>
      
   </extension>
   
</plugin>
