<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.fusesource.ide.JBossFuseCategory"
            name="%category.name">
      </category>
      <wizard
            category="org.fusesource.ide.JBossFuseCategory"
            class="org.fusesource.ide.sap.imports.SAPImportWizard"
            icon="icons/fuse_icon_16c.png"
            id="org.fusesource.ide.sap.imports.JCoImportWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>

</plugin>
