<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <category
            id="org.fusesource.ide"
            name="%category.name">
      </category>
      <view
            category="org.fusesource.ide"
            class="org.fusesource.ide.jmx.commons.views.messages.MessagesView"
            icon="icons/messages_view.png"
            id="org.fusesource.ide.jmx.views.MessageView"
            name="%view.name">
         <description>
            %view.description
         </description>
      </view>
   </extension>
    
    <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.fusesource.ide.jmx.commons.messages.contenttype.MessagesNamespaceXmlContentDescriber"
            file-extensions="xml"
            id="org.fusesource.ide.commmons.messagesContentType"
            name="%content-type.name"
            priority="high">
      </content-type> 
      </extension>
         <extension
               point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
            <propertyContributor
                  contributorId="org.fusesource.ide.commons.propertyContributor">
               <propertyCategory
                     category="org.jboss.tools.jmx.ui.views"></propertyCategory>
            </propertyContributor>
         </extension>
   
   
   
	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
      <!--
      <viewerActionBinding
          viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
       <includes>
          <actionExtension
                pattern="org.fusesource.ide.commons.views.jmx.JMXContextMenuProvider">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <viewerActionBinding
          viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
    </viewerActionBinding>
    -->
    <actionProvider
          class="org.fusesource.ide.commons.views.jmx.JMXContextMenuProvider"
          id="org.fusesource.ide.commons.views.jmx.JMXContextMenuProvider">
       <enablement>
          <instanceof
                value="org.fusesource.ide.foundation.ui.util.ContextMenuProvider">
          </instanceof>
       </enablement>
    </actionProvider>
	</extension>


	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	 viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.fabric.camel.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
	</extension>

    <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.fusesource.ide.foundation.ui.tree.NodeSupport"
            class="org.fusesource.ide.foundation.ui.tree.NodeSupportPropertiesSourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   
</plugin>
