<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.fusesource.ide"
            composite="false"
            contentFile="content/createCamelProject.xml"
            id="org.fusesource.ide.cheatsheets.createCamelProject"
            name="Create a Fuse Integration Project based on Camel">
         <description>
            Creates a new Fuse Integration project based on Camel
         </description>
      </cheatsheet>
      <category
            id="org.fusesource.ide"
            name="Red Hat Fuse">
      </category>
   </extension>

</plugin>
