<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.fusesource.ide"
            composite="false"
            contentFile="content/createCamelProject.xml"
            id="org.fusesource.ide.cheatsheets.createCamelProject"
            name="Create a Fuse Camel Project">
         <description>
            Creates a new Fuse Camel project
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.fusesource.ide"
            composite="false"
            contentFile="content/createCamelComponentProject.xml"
            id="org.fusesource.ide.cheatsheets.createCamelComponentProject"
            name="Create a Camel Component Project">
         <description>
            Create a new Camel component project
         </description>
      </cheatsheet>
      <category
            id="org.fusesource.ide"
            name="JBoss Fuse">
      </category>
   </extension>

</plugin>
