<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="fuse" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.400.v20220706-1609"/>
<unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.9.500.v20220706-1609"/>
<unit id="org.jboss.ide.eclipse.as.jmx.integration.feature.feature.group" version="3.9.500.v20220706-1609"/>
<unit id="org.jboss.ide.eclipse.as.serverAdapter.wtp.feature.feature.group" version="3.9.500.v20220706-1609"/>
<unit id="org.jboss.tools.archives.scanner.feature.feature.group" version="3.6.400.v20220706-1609"/>
<unit id="org.jboss.tools.jmx.feature.feature.group" version="1.10.301.v20220705-2049"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/updates/core/master/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.tools.maven.feature.feature.group" version="1.10.0.v20220914-0941"/>
<unit id="org.jboss.tools.maven.springboot.feature.feature.group" version="1.10.0.v20220914-0941"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/builds/jbosstools-central_master/latest/all/repo/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.tools.common.core.feature.feature.group" version="3.17.400.v20220819-0934"/>
<unit id="org.jboss.tools.common.feature.feature.group" version="3.17.400.v20220819-0934"/>
<unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.17.400.v20220819-0934"/>
<unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.17.400.v20220819-0934"/>
<unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.17.400.v20220819-0934"/>
<unit id="org.jboss.tools.foundation.feature.feature.group" version="1.6.1400.v20220913-1730"/>
<unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.5.300.v20220704-1257"/>
<unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.4.200.v20210628-0724"/>
<unit id="org.jboss.tools.usage.feature.feature.group" version="2.2.500.v20220704-1257"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/builds/jbosstools-base_master/latest/all/repo/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.tools.openshift.feature.feature.group" version="3.20.100.v20220723-0400"/>
<unit id="org.jboss.tools.openshift.cdk.feature.feature.group" version="3.20.100.v20220707-0845"/>
<unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.20.100.v20220704-0927"/>
<unit id="org.jboss.tools.openshift.js.feature.feature.group" version="3.20.100.v20220704-0927"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/builds/jbosstools-openshift_master/latest/all/repo/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.ide.eclipse.archives.test.feature.feature.group" version="3.6.400.v20220804-0941"/>
<unit id="org.jboss.ide.eclipse.as.test.feature.feature.group" version="3.9.500.v20220706-1609"/>
<unit id="org.jboss.tools.test.feature.feature.group" version="3.7.103.v20200204-1817"/>
<unit id="org.jboss.tools.runtime.test.feature.feature.group" version="3.5.300.v20220704-1257"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/updates/coretests/master/"/>
</location>

</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>