<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="fuse" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.202.v20181011-1445"/>
<unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.6.2.v20190304-1841"/>
<unit id="org.jboss.ide.eclipse.as.jmx.integration.feature.feature.group" version="3.6.2.v20190304-1841"/>
<unit id="org.jboss.ide.eclipse.as.serverAdapter.wtp.feature.feature.group" version="3.6.2.v20190304-1841"/>
<unit id="org.jboss.tools.archives.scanner.feature.feature.group" version="3.6.202.v20181011-1445"/>
<unit id="org.jboss.tools.common.core.feature.feature.group" version="3.10.2.v20181225-2142"/>
<unit id="org.jboss.tools.common.feature.feature.group" version="3.10.2.v20181101-1129"/>
<unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.10.2.v20181101-1129"/>
<unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.10.2.v20181101-1129"/>
<unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.10.2.v20181101-1129"/>
<unit id="org.jboss.tools.foundation.feature.feature.group" version="1.5.2.v20190301-0221"/>
<unit id="org.jboss.tools.jmx.feature.feature.group" version="1.10.6.v20181011-1445"/>
<unit id="org.jboss.tools.maven.feature.feature.group" version="1.9.2.v20181226-1320"/>
<unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.4.5.v20181101-1129"/>
<unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.4.102.v20181101-1129"/>
<unit id="org.jboss.tools.usage.feature.feature.group" version="2.2.202.v20181101-1129"/>
<unit id="org.jboss.tools.openshift.feature.feature.group" version="3.6.0.v20190228-1836"/>
<unit id="org.jboss.tools.openshift.cdk.feature.feature.group" version="3.6.0.v20181010-1259"/>
<unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.6.0.v20181212-1616"/>
<unit id="org.jboss.tools.openshift.js.feature.feature.group" version="3.6.0.v20181005-1233"/>
<unit id="org.jboss.tools.maven.springboot.feature.feature.group" version="1.9.2.v20181211-1326"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/updates/core/master/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jboss.ide.eclipse.archives.test.feature.feature.group" version="3.6.202.v20181011-1445"/>
<unit id="org.jboss.ide.eclipse.as.test.feature.feature.group" version="3.6.2.v20190304-1841"/>
<unit id="org.jboss.tools.test.feature.feature.group" version="3.7.103.v20181101-1129"/>
<unit id="org.jboss.tools.runtime.test.feature.feature.group" version="3.4.5.v20181101-1129"/>
<repository location="https://download.jboss.org/jbosstools/photon/snapshots/updates/coretests/master/"/>
</location>

</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>