<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?>
<target includeMode="feature" name="fuse-ide-in-jbds7">
    
    <locations>
        <location path="${project_loc}/../site/target/repository" type="Directory"/>

        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	  <unit id="org.eclipse.equinox.cm" version="1.0.400.v20130225-1702"/>
	 <repository location="http://download.jboss.org/jbosstools/updates/requirements/kepler/20130322-0900-M/"/>
        </location>

        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	  <unit id="org.eclipse.core.net" version="1.2.200.v20130430-1352"/>
	  <unit id="org.eclipse.equinox.security" version="1.2.0.v20130424-1801"/>
	  <repository location="http://download.jboss.org/jbosstools/updates/requirements/kepler/20130510-0900-M7/"/>
        </location>

        <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	  <unit id="org.drools.eclipse.feature.feature.group" version="6.0.0.201304021236"/>
	  <unit id="org.guvnor.tools.feature.feature.group" version="6.0.0.201304021236"/>
	  <unit id="org.jbpm.eclipse.feature.feature.group" version="6.0.0.201304021236"/>
	  <unit id="org.jbpm.eclipse.task.feature.feature.group" version="6.0.0.201304021236"/>
	  <repository location="http://download.jboss.org/drools/release/6.0.0.201304021236/org.drools.updatesite/"/>
        </location>

    </locations>

    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
