<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.launcher.camelContext"
            icon="icons/run_camel_context.png"
            id="org.fusesource.ide.launcher.ui.launchConfigurationTypeImage.camelContext">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.launcher.ui.tabs.CamelContextLaunchConfigurationTabGroup"
            description="%tabgroup.camelContext.description"
            id="org.fusesource.ide.launcher.ui.launchConfigurationTabGroup.camelContext"
            type="org.fusesource.ide.launcher.camelContext">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.fusesource.ide.launcher.ui.tabs.CamelContextFileTab"
            group="org.fusesource.ide.launcher.ui.launchConfigurationTabGroup.camelContext"
            id="org.fusesource.ide.launcher.ui.tab.CamelContext"
            name="%launcher.tab.camelcontext.name">
      </tab>
      <tab
            class="org.fusesource.ide.launcher.ui.tabs.DebugJmxTab"
            group="org.fusesource.ide.launcher.ui.launchConfigurationTabGroup.camelContext"
            id="org.fusesource.ide.launcher.ui.tab.Debug"
            name="%launcher.tab.debug.name">
      </tab>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.fusesource.ide.launcher.ui.launch.ExecutePomAction:clean package"
            icon="icons/run_camel_context.png"
            id="org.fusesource.ide.launcher.ui.shortcut.camelContext"
            label="%launchShortCut.camelContext.label"
            modes="run,debug">
            
            <contextualLaunch>
               <enablement>
               	<reference definitionId="org.fusesource.ide.launcher.ui.launchCamelEnable"/>
               </enablement>
            </contextualLaunch>
            <configurationType
                  id="org.fusesource.ide.launcher.camelContext">
            </configurationType>
      </shortcut>

      <shortcut
            class="org.fusesource.ide.launcher.ui.launch.ExecutePomActionNoTests:clean package" 
            icon="icons/run_camel_context.png"
            id="org.fusesource.ide.launcher.ui.shortcut.camelContextNoTests"
            label="%launchShortCut.camelContext.notests.label"
            modes="run,debug">
            
            <contextualLaunch>
               <enablement>
               	<reference definitionId="org.fusesource.ide.launcher.ui.launchCamelEnable"/>
               </enablement>
            </contextualLaunch>
            <configurationType
                  id="org.fusesource.ide.launcher.camelContext"> 
            </configurationType>
      </shortcut>
   </extension>
   
   
      <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.fusesource.ide.launcher.ui.debug.model.CamelModelPresentation"
            id="org.fusesource.ide.launcher.debug.camel">
      </debugModelPresentation>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%camel.debug.context.name"
            description="%camel.debug.context.description"
            id="org.fusesource.ide.launcher.camel.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.fusesource.ide.launcher.debug.camel"
            contextId="org.fusesource.ide.launcher.camel.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.variableValueEditors">
      <variableValueEditor
            class="org.fusesource.ide.launcher.ui.debug.editors.VariableValueEditor"
            modelId="org.fusesource.ide.launcher.debug.camel">
      </variableValueEditor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="org.fusesource.ide.launcher.ui.InjectHeaderCommand"
               label="%command.variables.injectheader.name"
               style="push"
               tooltip="%command.variables.injectheader.description">
         </command>
         <command
               commandId="org.fusesource.ide.launcher.ui.DeleteCommand"
               label="%command.variables.delete.name"
               style="push"
               tooltip="%command.variables.delete.description">
         </command>
         <command
               commandId="org.fusesource.ide.launcher.ui.resetDebugCounterCommand"
               label="%command.variables.resetdebugcounter.name"
               style="push"
               tooltip="%command.variables.resetdebugcounter.description">
         </command>
         <separator
               name="org.fusesource.ide.launcher.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.debug.ui.VariableView">
         <command
               commandId="org.fusesource.ide.launcher.ui.InjectHeaderCommand"
               label="%command.variables.injectheader.name"
               style="push"
               tooltip="%command.variables.injectheader.description">
         </command>
         <command
               commandId="org.fusesource.ide.launcher.ui.DeleteCommand"
               label="%command.variables.delete.name"
               style="push"
               tooltip="%command.variables.delete.description">
         </command>
         <command
               commandId="org.fusesource.ide.launcher.ui.resetDebugCounterCommand"
               label="%command.variables.resetdebugcounter.name"
               style="push"
               tooltip="%command.variables.resetdebugcounter.description">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.variables.injectheader.description"
            id="org.fusesource.ide.launcher.ui.InjectHeaderCommand"
            name="%command.variables.injectheader.name">
      </command>
      <command
            description="%command.variables.resetdebugcounter.description"
            id="org.fusesource.ide.launcher.ui.resetDebugCounterCommand"
            name="%command.variables.resetdebugcounter.name">
      </command>
      <command
            description="%command.variables.delete.description"
            id="org.fusesource.ide.launcher.ui.DeleteCommand"
            name="%command.variables.delete.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fusesource.ide.launcher.ui.debug.handlers.InjectHeaderHander"
            commandId="org.fusesource.ide.launcher.ui.InjectHeaderCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.fusesource.ide.launcher.debug.model.variables.CamelHeadersVariable">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.fusesource.ide.launcher.ui.debug.handlers.ResetDebugCounterHandler"
            commandId="org.fusesource.ide.launcher.ui.resetDebugCounterCommand">
      </handler>
      <handler
            class="org.fusesource.ide.launcher.ui.debug.handlers.DeleteHandler"
            commandId="org.fusesource.ide.launcher.ui.DeleteCommand">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="org.fusesource.ide.launcher.debug.model.variables.CamelBodyVariable">
                     </instanceof>
                     <instanceof
                           value="org.fusesource.ide.launcher.debug.model.variables.CamelHeaderVariable">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.fusesource.ide.launcher.ui.resetDebugCounterCommand"
            icon="icons/variable.png">
      </image>
      <image
            commandId="org.fusesource.ide.launcher.ui.InjectHeaderCommand"
            icon="icons/add.gif">
      </image>
      <image
            commandId="org.fusesource.ide.launcher.ui.DeleteCommand"
            icon="icons/delete.gif">
      </image>
   </extension>
 
    <extension
       point="org.eclipse.core.expressions.definitions">
    	<definition id="org.fusesource.ide.launcher.ui.launchCamelEnable">
                 <with variable="selection">
                     <count value="1"/>
                     <iterate>
                       <and>
                       <or>
						 <and>
							<instanceof value="org.eclipse.core.resources.IProject" />
          					<test property="org.eclipse.core.resources.projectNature" value="org.fusesource.ide.project.RiderProjectNature" />
						 </and>
       <or>
          <adapt
                type="org.eclipse.core.resources.IFile">
             <test
                   property="org.eclipse.core.resources.contentTypeId"
                   value="org.fusesource.ide.camel.editor.camelContentType">
             </test>
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IFile">
             <test
                   property="org.eclipse.core.resources.contentTypeId"
                   value="com.springsource.sts.config.ui.beanConfigFile">
             </test>
          </adapt>
       </or>
                       </or>
                       <test
                             forcePluginActivation="true"
                             property="org.fusesource.ide.launcher.ui.isLocalLaunchAvailable">
                       </test>
                        
						 </and>                 
                     </iterate>
                 </with>
    	</definition>
   </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.fusesource.ide.launcher.ui.propertytester.CamelLocalLaunchPropertyTester"
           id="org.fusesource.ide.launcher.ui.localLaunchPropertyTester"
           namespace="org.fusesource.ide.launcher.ui"
           properties="isLocalLaunchAvailable"
           type="org.eclipse.core.runtime.IAdaptable">
     </propertyTester>
  </extension>  
   
</plugin>
