<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
           category="org.fusesource.ide"
           class="org.fusesource.ide.jmx.diagram.view.DiagramView"
           icon="icons/diagram_view.gif"
           id="org.fusesource.ide.jmx.views.DiagramView"
           name="%view.name">
        <description>
           %view.description
        </description>
      </view>
   </extension>

</plugin>
