<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.fusesource.ide.server.fabric8.ui.runtime.fabric8.Fabric8RuntimeFragment"
            id="org.fusesource.ide.server.fabric8.ui.runtime.fragment.11"
            typeIds="org.fusesource.ide.fabric8.runtime.11">
      </fragment>
      <fragment
            class="org.fusesource.ide.server.fabric8.ui.runtime.fabric8.Fabric8ServerWizardFragment1x"
            id="org.fusesource.ide.server.fabric8.ui.server.fragment.11"
            typeIds="org.fusesource.ide.fabric8.server.11">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/fabric8_server.png"
            id="org.fusesource.ide.server.fabric8.ui.server.image.11"
            typeIds="org.fusesource.ide.fabric8.server.11">
      </image>
      <image
            icon="icons/fabric8_server.png"
            id="org.fusesource.ide.server.fabric8.ui.runtime.image.11"
            typeIds="org.fusesource.ide.fabric8.runtime.11">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.fabric8.ui.launch.tab"
            type="org.fusesource.ide.server.fabric8.launch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.fusesource.ide.server.karaf.ui.launch.KarafLaunchConfigTabGroup"
            id="org.fusesource.ide.server.fabric81x.launch.tab"
            type="org.fusesource.ide.server.fabric81x.launch">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.fusesource.ide.server.fabric8.ui.editor.Fabric8ConnectionDetailsEditorSection"
            id="org.fusesource.ide.server.fabric8.ui.connection.details"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.fusesource.ide.fabric8.server.*">
      </section>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.fusesource.ide.server.fabric8.launch"
            icon="icons/run_fabric8_server.png"
            id="org.fusesource.ide.server.fabric8.ui.launch.image">
      </launchConfigurationTypeImage>
   </extension>
   
</plugin>
