<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- =========================================================================== -->
<!-- Copyright (c) 2010 JVM Monitor project. All rights reserved.                -->
<!--                                                                             -->
<!-- This code is distributed under the terms of the Eclipse Public License v1.0 -->
<!-- which is available at http://www.eclipse.org/legal/epl-v10.html             -->
<!-- =========================================================================== -->
<plugin>
   <extension-point id="jvmAttachHandler" name="%jvmAttachHandler" schema="schema/org.jvmmonitor.core.jvmAttachHandler.exsd"/>
   <extension-point id="heapDumpHandler" name="%heapDumpHandler" schema="schema/org.jvmmonitor.core.heapDumpHandler.exsd"/>
   <extension-point id="agentLoadHandler" name="%agentLoadHandler" schema="schema/org.jvmmonitor.core.agentLoadHandler.exsd"/>
</plugin>
