<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fuseide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Fuse IDE">
         <property
               name="windowImages"
               value="icons/fuse_icon_16c.png,icons/fuse_icon_32.png,icons/fuse_icon_48.png,icons/fuse_icon_64.png,icons/fuse_icon_128.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="5082E9">
         </property>
         <property
               name="startupProgressRect"
               value="2,313,496,15">
         </property>
         <property
               name="startupMessageRect"
               value="23,288,455,20">
         </property>
         <property
               name="appName"
               value="Fuse IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property name="introBrandingImage" value="product:icons/fuse_icon_128.png"/>
		 <property name="introTitle" value=" "/>
      </product>
   </extension>

      <!--   
      TODO these don't work until m2eclipse 0.13 fixes catalogs due to missing Wagon
   <extension
         point="org.eclipse.m2e.core.indexes">
      <index
            indexId="fusesource-nexus-public"
            isShort="false"
            repositoryUrl="http://repo.fusesource.com/nexus/content/groups/public">
      </index>
   </extension>
      -->
</plugin>
