<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?>
<target includeMode="feature" name="fuse-10.0.0-SNAPSHOT">
  <locations>
    <!-- to update these versions run the following:

          mvn -U org.jboss.tools.tycho-plugins:target-platform-utils:1.0.0-SNAPSHOT:fix-versions \
            -DgroupId=org.jboss.tools.tycho-plugins -DartifactId=target-platform-utils -Dversion=1.0.0-SNAPSHOT \
            -Dpackaging=jar -DtargetFile=`pwd`/fuse-jbosstools.target && \
          mv -f fuse-jbosstools.target_fixedVersion.target fuse-jbosstools.target && \
          rm -f fuse-jbosstools.target_update_hints.txt && \
          git status && git diff

        Then to resolve the target platform locally, including a local update site:

          mvn install -Pmultiple2repo -Dmirror-target-to-repo.includeSources=true
 
        Or use includeSources=false if don't want sources in the target platform repo

        Finally, to use the target platform in a downstream build:

          mvn verify -Dtpc.targetKind=multiple -Dtpc.version=10.0.0-SNAPSHOT

    -->
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/oxygen/staging/updates/"/>
      <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.110.v20170308-1750"/>
      <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.3.0.v20170613-1537"/>
      <unit id="org.jboss.ide.eclipse.as.jmx.integration.feature.feature.group" version="3.3.0.v20170613-1537"/>
      <unit id="org.jboss.ide.eclipse.as.serverAdapter.wtp.feature.feature.group" version="3.3.0.v20170613-1537"/>
      <unit id="org.jboss.tools.archives.scanner.feature.feature.group" version="3.6.110.v20170308-1750"/>
      <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.9.0.v20170316-1838"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.9.0.v20170531-1022"/>
      <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.9.0.v20170316-1838"/>
      <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.4.0.v20170619-1445"/>
      <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.10.0.v20170609-2025"/>
      <unit id="org.jboss.tools.maven.feature.feature.group" version="1.8.100.v20170420-1329"/>
      <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.2.100.v20170526-2039"/>
      <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.4.0.v20170519-2128"/>
      <unit id="org.jboss.tools.usage.feature.feature.group" version="2.2.100.v20170505-1845"/>
      <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.9.0.v20170316-1838"/>
      <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.9.0.v20170519-2103"/>
<!-- HERE -->
      <!-- <unit id="" version="0.0.0"/> -->

    </location>
    <location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.jboss.org/jbosstools/oxygen/staging/updates/coretests/4.5.0.AM1/"/>
      <unit id="org.jboss.tools.as.test.core" version="3.3.0.v20170531-1920"/>
      <unit id="org.jboss.tools.jmx.core.test" version="1.10.0.v20170406-2053"/>
      <unit id="org.jboss.tools.tests" version="3.7.100.v20170529-1436"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
