<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.fusesource.ide.fabric.servicemix.Startup">
      </startup>
   </extension>

   <extension
      point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             id="org.fusesource.ide.fabric.smx.jmx.content"
             name="ServiceMix Endpoints"
             activeByDefault="true"
             icon="icons/smx_server.png"
             priority="normal"
             contentProvider="org.fusesource.ide.fabric.servicemix.jmx.content.navigator.providers.SMXNodeContentProvider"
             labelProvider="org.fusesource.ide.fabric.servicemix.jmx.content.navigator.providers.SMXNodeLabelProvider">
          <triggerPoints>
             <instanceof
                   value="org.jboss.tools.jmx.core.IConnectionWrapper">
             </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
              </or>
          </possibleChildren>
       </navigatorContent>
	</extension>

	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.fabric.smx.jmx.content">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
<!-- COMMENTED OUT AS THE TABBED PROPERTIES DON'T WORK FOR THE SERVERS VIEW ATM	   
    <viewerContentBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <contentExtension
                isRoot="false"
                pattern="org.fusesource.ide.fabric.smx.jmx.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
-->
	</extension>

   
</plugin>
