<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_20"
          id="org.fusesource.ide.karaf.runtime.20"
          name="%runtimeTypeKarafDescription_20"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.0">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_21"
          id="org.fusesource.ide.karaf.runtime.21"
          name="%runtimeTypeKarafDescription_21"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.1">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_22"
          id="org.fusesource.ide.karaf.runtime.22"
          name="%runtimeTypeKarafDescription_22"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.2">
       <moduleType
             types="jst.web"
             versions="2.2, 2.3, 2.4, 2.5, 3.0">
       </moduleType>
       <moduleType
             types="jst.utility"
             versions="1.0">
       </moduleType>
    </runtimeType>
    <runtimeType
          class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeDelegate"
          description="%runtimeTypeKarafDescription_23"
          id="org.fusesource.ide.karaf.runtime.23"
          name="%runtimeTypeKarafDescription_23"
          vendor="%fusesource"
          vendorId="%fusesource"
          version="2.3">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4, 2.5, 3.0"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
	name="sourceLocator"
	id="org.fusesource.ide.server.karaf.core.server.sourceLocator"
	class="org.fusesource.ide.server.karaf.core.server.SourceLocator">
    </sourceLocator>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
	id="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate"
	class="org.fusesource.ide.server.karaf.core.server.SourcePathComputerDelegate">
    </sourcePathComputer>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_20"
           hasConfiguration="true"
           id="org.fusesource.ide.karaf.server.20"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%karafServerType_20"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.20"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_21"
           hasConfiguration="true"
           id="org.fusesource.ide.karaf.server.21"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%karafServerType_21"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.21"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_22"
           hasConfiguration="true"
           id="org.fusesource.ide.karaf.server.22"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%karafServerType_22"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.22"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
     <serverType
           behaviourClass="org.fusesource.ide.server.karaf.core.server.KarafServerBehaviourDelegate"
           class="org.fusesource.ide.server.karaf.core.server.KarafServerDelegate"
           description="%karafServerDescription_23"
           hasConfiguration="true"
           id="org.fusesource.ide.karaf.server.23"
           initialState="stopped"
           launchModes="run,debug"
           launchConfigId="org.fusesource.ide.server.karaf.launch"
           name="%karafServerType_23"
           runtime="true"
           runtimeTypeId="org.fusesource.ide.karaf.runtime.23"
           startTimeout="90000"
           stopTimeout="45000"
           supportsRemoteHosts="false">
     </serverType>
  </extension>

  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.fusesource.ide.server.karaf.core.launch.KarafLaunchDelegate"
           id="org.fusesource.ide.server.karaf.launch"
           modes="run,debug"
           name="%karaf.launch.name"
           public="true"
	   sourceLocatorId="org.fusesource.ide.server.karaf.core.server.sourceLocator"
	   sourcePathComputerId="org.fusesource.ide.server.karaf.core.server.sourcePathComputerDelegate">
     </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeLocators">
    <runtimeLocator
       id="org.fusesource.ide.server.karaf.runtime.locator"
       typeIds="org.fusesource.ide.karaf.runtime.*"
       class="org.fusesource.ide.server.karaf.core.runtime.KarafRuntimeLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverLocators">
    <serverLocator
       id="org.fusesource.ide.server.karaf.server.locator"
       supportsRemoteHosts="false"
       typeIds="org.fusesource.ide.karaf.server.*"
       class="org.fusesource.ide.server.karaf.core.server.KarafServerLocator"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.installableRuntimes">
    <runtime
          archivePath="apache-karaf-2.3.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.3.2/apache-karaf-2.3.2.zip"
          id="org.fusesource.ide.karaf.runtime.23"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.3.2"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.3.2/apache-karaf-2.3.2.tar.gz"
          id="org.fusesource.ide.karaf.runtime.23"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.2.11"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.2.11/apache-karaf-2.2.11.tar.gz"
          id="org.fusesource.ide.karaf.runtime.22"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.2.11"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.2.11/apache-karaf-2.2.11.zip"
          id="org.fusesource.ide.karaf.runtime.22"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.1.6"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.1.6/apache-karaf-2.1.6.tar.gz"
          id="org.fusesource.ide.karaf.runtime.21"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.1.6"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.1.6/apache-karaf-2.1.6.zip"
          id="org.fusesource.ide.karaf.runtime.21"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.0.0/apache-karaf-2.0.0.tar.gz"
          id="org.fusesource.ide.karaf.runtime.20"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="linux">
    </runtime>
    <runtime
          archivePath="apache-karaf-2.0.0"
          archiveUrl="https://repository.apache.org/content/groups/public/org/apache/karaf/apache-karaf/2.0.0/apache-karaf-2.0.0.zip"
          id="org.fusesource.ide.karaf.runtime.20"
          licenseUrl="http://www.apache.org/licenses/LICENSE-2.0.txt"
          os="win32">
    </runtime>
  </extension>
  
</plugin>
