<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse Core Target" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.fusesource.ide.feature.feature.group" version="0.0.0"/>
<repository location="http://repo.fusesource.com/beta/updatesite/7.1.163"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.drools.eclipse.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.guvnor.tools.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.jbpm.eclipse.feature.feature.group" version="5.5.0.Beta1"/>
<unit id="org.jbpm.eclipse.task.feature.feature.group" version="5.5.0.Beta1"/>
<repository location="http://download.jboss.org/drools/release/5.5.0.Beta1/org.drools.updatesite/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.8.2.v20120215-0845"/>
<repository location="http://download.eclipse.org/graphiti/updates/0.8.2"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.2.0.20120903-1050"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.2.0.20120903-1050"/>
<repository location="http://download.eclipse.org/technology/m2e/releases"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.3.2.v201201121600-377DH8s735735535DD9"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.3.0.v201102200555-377DF8s73543E5I5768"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.2.v201111030500-7O7IFj6EMjB7yO1Xs_G1kMtQeOye6HTXFWve95_R"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.2.v201112072049-7H7EFZ7DxumTmce4khcSkIiqoD8eDMKlT8Oz011P"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.3.2.v201112072049-7A7858DXJRVqOEXE85bqDSkmf8cYd6aldWZT8U97"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.1.v201109012200-7T7YFRTFIqUoIrvbEtBlSIJXGZNg"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.100.v20110303-208Z7w31211419"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.2.v20111010_1242-777HFHzCcNBDjCbIUfEEE3"/>
<unit id="org.eclipse.jst.server_core.feature.feature.group" version="3.3.0.v201102200555-31FD58s7354495L"/>
<unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84F9JLuF0IfIcKHVlKTdDVPMiNWDGM_CCKMJ"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHr9xFcAVCFLZBBJLIR43A"/>
<unit id="org.eclipse.jst.server_userdoc.feature.feature.group" version="3.3.100.v20110303-2-Eo7w3121162A3329"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.6.v201201181342-46AB9oB5885D6R5D86"/>
<unit id="org.eclipse.jst.webpageeditor_sdk.feature.feature.group" version="2.3.6.v201201181342-557B81BDFErF9JCBKBTCMLKApC6996E7S6E97"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.3.2.v201111030500-7B7DFO9F7RZHOhIjR6Mz-NJ"/>
<unit id="org.eclipse.wst.common_sdk.feature.feature.group" version="3.3.2.v201111030500-7977AC9xPEIVd9P1pnk4hyvJz0fBdz-z0TskHfrj"/>
<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.3.2.v201111030500-7C79FVsEdhO_sfog9oNekiJkS7Nz00OK"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.2.v20111026_1748-30FBd8s7356394Ka2531"/>
<unit id="org.eclipse.wst.server_sdk.feature.feature.group" version="3.3.2.v20111026_1748-7858c90KCFUHmJ6vgp4BGYaoaai6aK3qu45FPOfQ"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.2.v20111026_1748-7B79FBdAtJcez0EONePJUSNPjBC42"/>
<unit id="org.eclipse.wst.server_userdoc.feature.feature.group" version="3.3.0.v20110512-20DF7w312215222664"/>
<unit id="org.eclipse.wst.web_core.feature.feature.group" version="3.3.2.v201111030500-7E7EFMcAJvn8cwW45JTLsz-TCw6tofoJ"/>
<unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.3.2.v201111030500-7E7E798SxdnE8sOGsz0RZR8CRe3UgrX6ZUNz-bDY"/>
<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="3.3.1.v201108230355-7L7RFi8FGtGd-thsz0z0rQwh2766"/>
<unit id="org.eclipse.wst.ws_sdk.feature.feature.group" version="3.3.2.v201112142348-795AD9xVEKNoIR3Q8ibm7KJLaknAbz-1VIfuYox0"/>
<unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.3.2.v201112142348-7I7AFg1EtEoVFjz-98J1iuhhBz-uuWclgZtNHnEN"/>
<unit id="org.eclipse.wst.ws_userdoc.feature.feature.group" version="3.1.300.v201102200555-44FR79oB5855Q8IBD7G"/>
<unit id="org.eclipse.wst.web_userdoc.feature.feature.group" version="3.3.0.v201102200555-31Eo8s734B3E4H7799"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.3.2.v201112072049-7C7OFeMF7RZHQOIsNANyRc"/>
<unit id="org.eclipse.wst.xml_userdoc.feature.feature.group" version="3.3.0.v201102071641-50FYwAkF7B77UBZFDBL"/>
<unit id="org.eclipse.wst.xsl_sdk.feature.feature.group" version="1.1.101.v201109012200-658a99nLz-MkPicG-5yCbMyq9Dx_eOnOiZwcFuCm"/>
<repository location="http://download.eclipse.org/webtools/repository/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="javax.xml.bind" version="2.1.9.v201005080401"/>
<repository location="http://download.jboss.org/jbosstools/updates/requirements/orbit/R20120526062928/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.0.1.R37x_v20110907-7H7KFD6BpeIkWN-XxegWjHnQa9Df"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.3.2.v201201121600-377DH8s735735535DD9"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.3.0.v201102200555-377DF8s73543E5I5768"/>
<unit id="epp.package.rcp" version="1.4.2.20120213-0814"/>
<unit id="epp.package.java" version="1.4.2.20120213-0813"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.3.2.v201112072049-7F7AFO7C25ToiIbpoiuW12GT78Mciy6W7iwuxaco"/>
<unit id="org.eclipse.jst.web_userdoc.feature.feature.group" version="3.3.1.v201108102009-2107w31211938"/>
<unit id="org.eclipse.jst.web_core.feature.feature.group" version="3.3.2.v201112072049-7Q7DGLAFE9LeAHGQwz0Yz0Nmuitz01z01sRxi387"/>
<unit id="org.eclipse.platform.feature.group" version="3.7.2.v20120207-1839-9gF7UHPDFxGjd-PqDr2jX_4yKaumkoHTz04_q-q"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.5.1.v20111216-1653-7P7NFUIFIbaUcU77s0KQWHw5HZTZ"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.2.v201111030500-7O7IFj6EMjB7yO1Xs_G1kMtQeOye6HTXFWve95_R"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.2.v201112072049-7H7EFZ7DxumTmce4khcSkIiqoD8eDMKlT8Oz011P"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.1.v201109012200-7T7YFRTFIqUoIrvbEtBlSIJXGZNg"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.7.1.v20120127-1122"/>
<unit id="org.eclipse.emf.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20120127-1122"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.compare.doc.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.compare.mpatch.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.compare.ui.capabilities.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.compare.uml2.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.2.0.v20120130-0943"/>
<unit id="org.eclipse.emf.doc.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.7.1.v20120130-0943"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.2.0.v20120130-0943"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.facet.common.feature.group" version="0.1.2.v201202140823"/>
<unit id="org.eclipse.emf.facet.infra.feature.group" version="0.1.2.v201202140823"/>
<unit id="org.eclipse.emf.facet.widgets.feature.group" version="0.1.2.v201202140823"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.converter.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.query.feature.group" version="1.5.0.v20110502-1600-218Z7w311A142A1142"/>
<unit id="org.eclipse.emf.query.doc.feature.group" version="1.5.0.v20110502-1600-33-8s733L466A3AE72"/>
<unit id="org.eclipse.emf.query.examples.feature.group" version="1.5.0.v20110502-1600-678-AkF78Z8GCS7LRF7"/>
<unit id="org.eclipse.emf.query.ocl.feature.group" version="1.5.0.v20110502-1600-3--7w311A232602735"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.5.0.v20110502-1600-377-8s734C3E7D15D6B"/>
<unit id="org.eclipse.emf.transaction.doc.feature.group" version="1.5.0.v20110502-1600-358Z8s733L466F3C6D4"/>
<unit id="org.eclipse.emf.transaction.examples.feature.group" version="1.5.0.v20110502-1600-47B8Z8yGD5OtMCKTJQMQ6FGL2"/>
<unit id="org.eclipse.emf.workspace.feature.group" version="1.5.1.v20110823-1800-37708s734D3C7D3CCC1"/>
<unit id="org.eclipse.emf.workspace.doc.feature.group" version="1.5.0.v20110502-1600-22-7w311A1238292A"/>
<unit id="org.eclipse.emf.workspace.examples.feature.group" version="1.5.0.v20110502-1600-478-9oB56O5E8N5EFK1"/>
<unit id="org.eclipse.emf.oda.feature.group" version="1.0.2.v20120130-0943"/>
<unit id="org.eclipse.emf.oda.ecore.feature.group" version="1.0.2.v20120130-0943"/>
<unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="1.0.0.v20120130-0943"/>
<unit id="org.eclipse.emf.validation.feature.group" version="1.5.0.v20110502-1600-479-9oB56N5BBR6LCA6"/>
<unit id="org.eclipse.emf.validation.doc.feature.group" version="1.5.0.v20110502-1600-35-8s733L466F3B769"/>
<unit id="org.eclipse.emf.validation.examples.feature.group" version="1.5.0.v20110502-1600-67H-BgJ9CS9KHX8QXNK"/>
<unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.5.0.v20110502-1600-23-7w3121133502768"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.0.1.R37x_v20110907-7K7VFB_ETaXFZ3mP_8CeJQ02722"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.0.1.v20110906-1605-8290FZ9FVKHVRKtmx3fpNuo02129"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.101.R37x_v20110909-4-8_9oB5885K5B28WKK"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.1.2.R37x_v20110815-1155-6-Bk8pYWZz0qUTX5I15GZWwbXkrl"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.7.2.v20110927-2020-4617w3122212803131"/>
<unit id="org.eclipse.gef.feature.group" version="3.7.2.v20110927-2020-777D381B4Bz0755B465D34242"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.7.2.v20110928-2020-7G7Y3BgJ9EBCXDS4J9S9"/>
<unit id="org.eclipse.zest.feature.group" version="1.3.0.v20110425-2050-67A18yF6F18CBD5A7N54242"/>
<unit id="org.eclipse.net4j.defs.feature.group" version="4.0.0.v20111210-0952"/>
<unit id="org.eclipse.net4j.doc.feature.group" version="4.0.0.v20110625-1217"/>
<unit id="org.eclipse.net4j.feature.group" version="4.0.0.v20111210-0952"/>
<unit id="org.eclipse.net4j.ui.feature.group" version="4.0.0.v20110607-1031"/>
<unit id="org.eclipse.net4j.util.doc.feature.group" version="4.0.0.v20110625-1217"/>
<unit id="org.eclipse.equinox.server.p2.feature.group" version="1.1.1.R37x_v20110907-7z7UFW0FT-4HNfuTsrcmKrl02129"/>
<unit id="org.eclipse.tm.terminal.sdk.feature.group" version="3.2.1.R33x_v201106281309-7N7B1BbVJv-SaPEOkhsVVd_C3752"/>
<unit id="org.eclipse.tm.terminal.ssh.feature.group" version="2.1.0.v201103142315-30-7w312212153266"/>
<unit id="org.eclipse.tm.terminal.view.feature.group" version="2.2.0.v201103142315-31-7w312214253426"/>
<unit id="org.eclipse.epp.usagedata.feature.feature.group" version="1.4.0.R201106061540"/>
<unit id="org.eclipse.xsd.feature.group" version="2.7.1.v20120130-0943"/>
<unit id="org.eclipse.xsd.doc.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.xsd.edit.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.xsd.editor.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.egit.feature.group" version="1.3.0.201202151440-r"/>
<unit id="org.eclipse.egit.psf.feature.group" version="1.3.0.201202151440-r"/>
<unit id="org.eclipse.jgit.feature.group" version="1.3.0.201202151440-r"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
