<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="MBeanServerConnectionProvider" name="org.fusesource.ide.jmx.core.MBeanServerConnectionProvider" schema="schema/MBeanServerConnectionProvider.exsd"/>
   <extension
         point="org.fusesource.ide.jmx.core.MBeanServerConnectionProvider">
      <connectionProvider
            class="org.fusesource.ide.jmx.core.providers.DefaultConnectionProvider">
      </connectionProvider>
   </extension>
</plugin>
