<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.reddeer.junit.requirement">
    <requirement class="org.jboss.tools.fuse.reddeer.requirement.FuseRequirement"/>
    <requirement class="org.jboss.tools.fuse.reddeer.requirement.SAPLibraryRequirement"/>
    <requirement class="org.jboss.tools.fuse.reddeer.requirement.CamelExampleRequirement"/>
  </extension>
</plugin>
